{% macro create_field(field) -%}

    {% if field.__class__ == fields.TextareaField %}
        {{ textarea(field) }}
    {% elif field.__class__ == fields.SelectField %}
        {{ select(field) }}
    {% elif field.__class__ == fields.BooleanField %}
        {{ checkbox(field) }}
    {% elif field.__class__ == fields.HiddenField %}
        {{ hidden(field) }}
    {% else %}
        {{ input(field) }}
    {% endif %}

{% endmacro %}

{% macro create_form(form, legend="", submit="None", recaptcha_key=None) -%}
    
    {% if fieldset in form.fieldsets %}
        {{ form_error(form) }}
    {% endif %}
    
	<form id="{{ form.id }}" action="{{ form.action }}" method="{{ form.method }}">
        {% if fieldset in form.fieldsets %}
            {% for fieldset in form.fieldsets %}
                <fieldset>
    	            {% if fieldset.legend != '' %}<legend>{{ fieldset.legend }}</legend>{% endif %}
        	        {% for field in fieldset %}{{ create_field(field) }}{% endfor %}
        	        {% if recaptcha_key == None %}
                        {{ button(value=submit) }}
        	        {% endif %}
                </fieldset>
    	    {% endfor %}
            {% if recaptcha_key != None %}
	            <fieldset>
	                <legend>Recaptcha</legend>
    		        {{ recaptcha(form, recaptcha_key=recaptcha_key) }}
                    {{ button(value=submit) }}
	            </fieldset>
            {% endif %}
    	{% else %}
    	    <fieldset>
    	        {% if legend != '' %}<legend>{{ legend }}</legend>{% endif %}
    	        {{ form_error(form) }}
    	        {% for field in form %}{{ create_field(field) }}{% endfor %}
                {% if recaptcha_key != None %}
        		    {{ recaptcha(form, recaptcha_key=recaptcha_key) }}
                {% endif %}
                {{ button(value=submit) }}
            </fieldset>
    	{% endif %}
	</form>

{%- endmacro %}

{% macro hidden(field, value="") -%}
    
    <input 
        name="{{ field.name }}" 
        type="hidden" 
        {% if value != '' %}value="{{ value }}"{% elif field.value %}value="{{ field.value }}"{% endif %}
        />
    
{%- endmacro %}

{% macro input(field, label="", value="", type="text", id="", class="", tabindex="", maxlength="", placeholder="", autocomplete="on", help="", sidenote="") -%}

    <div class="form-block {% if field.__class__ == fields.PasswordField %}password-block{% elif field.__class__ == fields.DateField %}date-block{% else %}text-block{% endif %}{% if class != '' %} {{ class }}{% endif %}{% if field.error %} error{% endif %}" id="{% if id != '' %}{{ id }}{% else %}{{ field.name }}-block{% endif %}">
        
        {% if label %}
            <label for="{{ field.name }}-field">{{ label }}</label>
        {% elif field.label %}
            <label for="{{ field.name }}-field">{{ field.label }}</label>
        {% endif %}
        
        <input 
            name="{{ field.name }}" 
            type="{% if field.__class__ == fields.PasswordField %}password{% else %}{{ type }}{% endif %}" 
            class="form-field" 
            id="{{ field.name }}-field" 
            {% if tabindex != '' %}tabindex="{{ tabindex }}"{% endif %}
            {% if value != '' %}value="{{ value }}"{% elif field.value %}value="{{ field.value }}"{% endif %}
            {% if maxlength != '' %}maxlength="{{ maxlength }}"{% elif field.max_length %}maxlength="{{ field.max_length }}"{% elif field.__class__ == fields.DateField %}maxlength="10"{% endif %}
            {% if placeholder != '' %}placeholder="{{ placeholder }}"{% elif field.placeholder %}placeholder="{{ field.placeholder }}"{% endif %}
            {% if autocomplete != 'on' %}autocomplete="{{ autocomplete }}"{% endif %}
            />
        
        {% if field.error %}
            <span class="error-msg">{{ field.error }}</span>
        {% elif sidenote != '' %}
            <span class="side-note">{{ sidenote }}</span>
        {% elif field.is_required() == False %}
            <span class="optional">Optional</span>
        {% endif %}
        
        {% if help != '' %}
            <div class="help-msg">{{ help }}</div>
        {% elif field.help %}
            <div class="help-msg">{{ field.help }}</div>
        {% endif %}
        
        <div class="clearfix"></div>
    </div>

{%- endmacro %}

{% macro checkbox(field, label="", value="", type="checkbox", id="", class="", tabindex="", help="") -%}

    <div class="form-block tick-block{% if class != '' %} {{ class }}{% endif %}{% if field.error %} error{% endif %}" id="{% if id != '' %}{{ id }}{% else %}{{ field.name }}-block{% endif %}">
        
        <input 
            name="{{ field.name }}" 
            type="checkbox" 
            class="form-field" 
            id="{{ field.name }}-field" 
            {% if tabindex != '' %}tabindex="{{ tabindex }}"{% endif %}
            {% if field.value == True or value == 'True' %}checked=checked{% endif %}
            />
        
        {% if label %}
            <label for="{{ field.name }}-field">{{ label }}</label>
        {% elif field.label %}
            <label for="{{ field.name }}-field">{{ field.label }}</label>
        {% endif %}
        
        {% if field.error %}
            <span class="error-msg">{{ field.error }}</span>
        {% endif %}
        
        {% if help != '' %}
            <div class="help-msg">{{ help }}</div>
        {% elif field.help %}
            <div class="help-msg">{{ field.help }}</div>
        {% endif %}
        
        <div class="clearfix"></div>
    </div>

{%- endmacro %}

{% macro textarea(field, label="", value="", id="", class="", tabindex="", maxlength="", placeholder="", help="", sidenote="") -%}

    <div class="form-block textarea-block{% if class != '' %} {{ class }}{% endif %}{% if field.error %} error{% endif %}" id="{% if id != '' %}{{ id }}{% else %}{{ field.name }}-block{% endif %}">
        
        {% if label %}
            <label for="{{ field.name }}-field">{{ label }}</label>
        {% elif field.label %}
            <label for="{{ field.name }}-field">{{ field.label }}</label>
        {% endif %}
        
        <textarea 
            name="{{ field.name }}" 
            class="form-field" 
            id="{{ field.name }}-field" 
            {% if tabindex != '' %}tabindex="{{ tabindex }}"{% endif %} 
            {% if maxlength != '' %}maxlength="{{ maxlength }}"{% elif field.max_length %}maxlength="{{ field.max_length }}"{% endif %}
            {% if placeholder != '' %}placeholder="{{ placeholder }}"{% elif field.placeholder %}placeholder="{{ field.placeholder }}"{% endif %}
            >{% if field.value %}{{ field.value }}{% elif value %}{{ value|e }}{% endif %}</textarea>
        
        {% if field.error %}
            <span class="error-msg">{{ field.error }}</span>
        {% elif sidenote != '' %}
            <span class="side-note">{{ sidenote }}</span>
        {% elif field.is_required() == False %}
            <span class="optional">Optional</span>
        {% endif %}
        
        {% if help != '' %}
            <div class="help-msg">{{ help }}</div>
        {% elif field.help %}
            <div class="help-msg">{{ field.help }}</div>
        {% endif %}
        
        <div class="clearfix"></div>
    </div>

{%- endmacro %}

{% macro select(field, label="", id="", class="", tabindex="", multiple="", help="", empty_option="", sidenote="") -%}

    <div class="form-block select-block{% if class != '' %} {{ class }}{% endif %}{% if field.error %} error{% endif %}" id="{% if id != '' %}{{ id }}{% else %}{{ field.name }}-block{% endif %}">
        
        {% if label %}
            <label for="{{ field.name }}-field">{{ label }}</label>
        {% elif field.label %}
            <label for="{{ field.name }}-field">{{ field.label }}</label>
        {% endif %}
        
        <select 
            name="{{ field.name }}" 
            class="form-field" 
            id="{{ field.name }}-field" 
            {% if tabindex != '' %}tabindex="{{ tabindex }}"{% endif %}
            {% if multiple != '' %}multiple="multiple"{% elif field.get_multiple() != False %}multiple="multiple"{% endif %}
            >
            {% if empty_option != '' %}
                <option value="">{{ empty_option }}</option>
            {% endif %}
            {% for option in field %}
                <option value="{{ option.get_value() }}"
                    {% if option.is_selected() %}
                        selected="selected"
                    {% endif %}
                    >{{ option.get_label() }}</option>
            {% endfor %}
        </select>
        
        {% if field.error %}
            <span class="error-msg">{{ field.error }}</span>
        {% elif sidenote != '' %}
            <span class="side-note">{{ sidenote }}</span>
        {% elif field.is_required() == False %}
            <span class="optional">Optional</span>
        {% endif %}
        
        {% if help != '' %}
            <div class="help-msg">{{ help }}</div>
        {% elif field.help %}
            <div class="help-msg">{{ field.help }}</div>
        {% endif %}
        
        <div class="clearfix"></div>
    </div>

{%- endmacro %}

{% macro recaptcha(form, recaptcha_key=None) -%}

    <div class="form-block form-recaptcha{% for error in form.form_errors %}{% if error == 'CAPTCHA_ERROR' %} error{% endif %}{% endfor %}">
        <script type="text/javascript">var RecaptchaOptions = {theme : 'custom', custom_theme_widget: 'recaptcha_widget'};</script>
        
        <div id="recaptcha_widget" class="wrap" style="display:none">
            <div id="recaptcha_image" class="recaptcha_image"></div>
            <label for="recaptcha_response_field" class="recaptcha_only_if_image">Enter the two words below</label>
            <label for="recaptcha_response_field" class="recaptcha_only_if_audio">Enter the numbers you hear</label>
            <div class="recaptcha_controls">
                <input type="text" id="recaptcha_response_field" name="recaptcha_response_field" placeholder="word-1 word-2" />
                <div class="recaptcha_help recaptcha_button"><a href="javascript:Recaptcha.showhelp()" title="Need some help?"><span>Need some help?</span></a></div>
                <div class="recaptcha_only_if_audio recaptcha_button"><a href="javascript:Recaptcha.switch_type('image')" title="Get an image CAPTCHA"><span>Get an image CAPTCHA</span></a></div>
                <div class="recaptcha_only_if_image recaptcha_button"><a href="javascript:Recaptcha.switch_type('audio')" title="Get an audio CAPTCHA"><span>Get an audio CAPTCHA</span></a></div>
                <div class="recaptcha_get recaptcha_button"><a href="javascript:Recaptcha.reload()" title="Get another CAPTCHA"><span>Get another CAPTCHA</span></a></div>
                <div class="clearfix"></div>
            </div>
        </div>
        
        {% for error in form.form_errors %}
            {% if error == 'CAPTCHA_ERROR' %}
                <span class="error-msg">The words you entered were incorrect.</span>
            {% endif %}
        {% endfor %}
        
        <script type="text/javascript" src="http://www.google.com/recaptcha/api/challenge?k={{ recaptcha_key }}"></script>
        
        <noscript>
           <iframe src="http://www.google.com/recaptcha/api/noscript?k={{ recaptcha_key }}" height="300" width="500"></iframe><br />
           <textarea name="recaptcha_challenge_field" rows="3" cols="40">
           </textarea>
           <input type="hidden" name="recaptcha_response_field" value="manual_challenge" />
        </noscript>
    </div>

{%- endmacro %}

{% macro button(type="submit", value="None", sidenote="") -%}

    <div class="form-button">
        <button 
            name="submit" 
            type="{{ type }}"
            class="button"
            >{% if value != 'None' %}{{ value|e }}{% else %}Submit{% endif %}</button>
        
        {% if sidenote != '' %}
            <span class="side-note">{{ sidenote }}</span>
        {% endif %}
    </div>

{%- endmacro %}

{% macro form_error(form, error="") -%}

    {% if form.field_errors or form.form_errors or error != '' %}
        <div class="form-error">
            {% if form.form_errors and (form.form_errors[0] != 'CAPTCHA_ERROR') %}
                {% for error in form.form_errors %}
                    {{ error }}
                {% endfor %}
            {% elif error != '' %}
                {{ error }}
            {% else %}
                This form contains errors, please review your submission.
            {% endif %}
        </div>
    {% endif %}

{%- endmacro %}