<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8" />
	<title>Add a new page?</title>
	<style>
		body {
			color: #4a4741;
			font: 110% Helvetica, sans-serif;
			margin: 0;
			padding: 0;
		}
		h1 {
			font-size: 36px;
			margin-bottom: 2px;
		}
		a { color: #82b6da }
		#build, #add, #note {
			padding: 10px 45px;
		}
		#build {
			background: #f7ddf3;
			border-bottom: 1px solid #e4e4e4;
			padding: 30px 45px 30px;
		}
		#add {
			background: #f6f6f7;
			border-bottom: 1px solid #e4e4e4;
			max-width: 100%;
			overflow-y: hidden;
		}
		#note {
			font-size: 12px;
		}
	</style>
</head>
<body data-deploycms="init">
	<div id="build">
		<h1>This page hasn't been built yet...</h1>
		<h2>{{ path }}</h2>
	</div>
	<div id="add">
		<p>You can <a id="deploycms-404" href="#" data-deploycms-404="{{ path }}">add this page</a>.</p>
	</div>
	<p id="note"><strong>DeployCMS v{{ version }}</strong></p>
</body>
</html>