/* Section: List */

/* Section: List > Search */
#fluid-ns-outer #fluid-ns-inner .deploycms-list-search .fluid-form fieldset {
    padding-bottom:12px;
}
#fluid-ns-outer #fluid-ns-inner .deploycms-list-search .fluid-form .fluid-field {
    clear:none;
    float:left;
    margin-bottom:5px;
}
#fluid-ns-outer #fluid-ns-inner .deploycms-list-search .fluid-form .fluid-field label {
    display:inline-block;
    margin:0 10px 0 0;
    position:static;
    width:auto;
}
#fluid-ns-outer #fluid-ns-inner .deploycms-list-search .fluid-form input[type='text'] { width:150px; }
#fluid-ns-outer #fluid-ns-inner .deploycms-list-search .fluid-form select { width:160px; }
#fluid-ns-outer #fluid-ns-inner .deploycms-list-search {
    margin-bottom:11px;
}

/* All fields are optional and are not validated so hide the optional text and status icon */
#fluid-ns-outer #fluid-ns-inner .deploycms-list-search .fluid-form .fluid-field .fluid-optional,
#fluid-ns-outer #fluid-ns-inner .deploycms-list-search .fluid-form .fluid-field .fluid-status {
    display:none;
}

/* Section: List > Body */
#fluid-ns-outer #fluid-ns-inner .deploycms-list-body {
    position:relative;
}

/* Section: List > Data */
#fluid-ns-outer #fluid-ns-inner .deploycms-list-data-view {
    float:left;
    margin-top:7px;
    position:relative;
    overflow:auto;
}
#fluid-ns-outer #fluid-ns-inner .deploycms-list-data-view .deploycms-list-data {
    overflow:auto;
    width:100%;
}
#fluid-ns-outer #fluid-ns-inner .deploycms-list-data th {
    cursor:pointer;
}
#fluid-ns-outer #fluid-ns-inner .deploycms-list-data th .deploycms-sort {
    background:url('/media/edit/themes/sw-theme/ui.png') -76px -52px no-repeat;
    cursor:pointer;
    display:none;
    height:12px;
    float:right;
    width:12px;
}
#fluid-ns-outer #fluid-ns-inner .deploycms-list-data th.deploycms-sortable .deploycms-sort { display:block; }
#fluid-ns-outer #fluid-ns-inner .deploycms-list-data th.deploycms-desc .deploycms-sort { background-position:-64px -52px; }
#fluid-ns-outer #fluid-ns-inner .deploycms-list-data th.fluid-over {
    color:#161616;
}
#fluid-ns-outer #fluid-ns-inner .deploycms-list-data th.fluid-selected,
#fluid-ns-outer #fluid-ns-inner .deploycms-list-data th.fluid-down { 
    /* CSS3 */
    -moz-box-shadow:inset 0 1px 1px rgba(0, 0, 0, 0.125);
    -webkit-box-shadow:inset 0 1px 1px rgba(0, 0, 0, 0.125);
    box-shadow:inset 0 1px 1px rgba(0, 0, 0, 0.125);
}
#fluid-ns-outer #fluid-ns-inner .deploycms-list-data td {
    cursor:pointer;
}
#fluid-ns-outer #fluid-ns-inner .deploycms-list-data tr.fluid-over td {
    background-color:#CFDBFA !important;
}

/* Section: List > Navigation */
#fluid-ns-outer #fluid-ns-inner .deploycms-list-navigation {
    border-top:1px solid #EEE;
    bottom:0;
    overflow:hidden;
    margin-top:10px;
    padding:10px 0 0;
    position:absolute;
}
#fluid-ns-outer #fluid-ns-inner .deploycms-list-navigation .fluid-form {
    float:left;
    font-size:11px;
    padding:0;
    margin:0;
}
#fluid-ns-outer #fluid-ns-inner .deploycms-list-navigation .fluid-form .fluid-fieldset {
    border:none;
    padding:0;
    margin:0;
}
#fluid-ns-outer #fluid-ns-inner .deploycms-list-navigation .fluid-field {
    float:left;
    margin:0;
}

#fluid-ns-outer #fluid-ns-inner .deploycms-list-navigation .fluid-form label {
    display:block;
    float:left;
    height:22px;
    line-height:22px;
    margin:0 5px 0 0;
    width:auto;
}
#fluid-ns-outer #fluid-ns-inner .deploycms-list-navigation .fluid-form input[type='text'] {
    display:block;
    float:left;
    font-size:11px;
    height:16px;
    line-height:16px;
    margin-right:5px;
    width:45px;
}
/* All fields are optional and are not validated so hide the optional text and status icon */
#fluid-ns-outer #fluid-ns-inner .deploycms-list-navigation .fluid-form .fluid-field .fluid-optional,
#fluid-ns-outer #fluid-ns-inner .deploycms-list-navigation .fluid-form .fluid-field .fluid-status {
    display:none;
}
#fluid-ns-outer #fluid-ns-inner .deploycms-list-navigation .fluid-button {
    display:block;
    float:left;
    background:#FFF;
    border:1px solid #D7D7D7;
    font-size:10px;
    height:13px;
    line-height:12px;
    margin-bottom:0;
    margin-top:0;
    min-width:0;
    padding:4px 2px 3px 2px;
    
    /* CSS3 */
    -moz-border-radius:2px;
    -webkit-border-radius:2px;
    border-radius:2px;
    -moz-box-shadow:none;
    -webkit-box-shadow:none;
    box-shadow:none;
}
#fluid-ns-outer #fluid-ns-inner .deploycms-list-navigation .fluid-button.fluid-icon-right {
    padding:4px 2px 3px 5px;
}
#fluid-ns-outer #fluid-ns-inner .deploycms-list-navigation .fluid-button .fluid-icon {
    margin-right:0px;
}
#fluid-ns-outer #fluid-ns-inner .deploycms-list-navigation .fluid-button.fluid-over { border:1px solid #B0B0B0; }
#fluid-ns-outer #fluid-ns-inner .deploycms-list-navigation .fluid-button.fluid-down {
    background:#EEE;
    
    /* CSS3 */
    -moz-box-shadow:inset 0 1px 1px rgba(0, 0, 0, 0.125);
    -webkit-box-shadow:inset 0 1px 1px rgba(0, 0, 0, 0.125);
    box-shadow:inset 0 1px 1px rgba(0, 0, 0, 0.125);
}
#fluid-ns-outer #fluid-ns-inner .deploycms-list-navigation .fluid-button.fluid-sep {
    margin-right:5px;
}
#fluid-ns-outer #fluid-ns-inner .deploycms-list-navigation .fluid-button .fluid-icon {
    display:inline-block;
    height:15px;
    vertical-align:top;
    width:16px;
}

/* Section: List > Action */
#fluid-ns-outer #fluid-ns-inner .deploycms-list-actions {
    border:1px solid #EEE;
    float:right;
    margin-left:10px;
    margin-top:7px;
    padding:15px 10px 5px;
    width:198px;
}
#fluid-ns-outer #fluid-ns-inner .deploycms-list-actions .fluid-button {
    background:transparent;
    border:1px solid #FFF;
    color:#5590C7;
    float:none;
    margin:0 0 5px 0;
    padding:4px 5px 2px;
    text-align:left;
    
    /* CSS3 */
    -moz-border-radius:4px;
    -webkit-border-radius:4px;
    border-radius:4px;
    -moz-box-shadow:none;
    -webkit-box-shadow:none;
    box-shadow:none;   
}
#fluid-ns-outer #fluid-ns-inner .deploycms-list-actions .fluid-button.fluid-over {
    border:1px solid #B0B0B0;
}
#fluid-ns-outer #fluid-ns-inner .deploycms-list-actions .fluid-button.fluid-down,
#fluid-ns-outer #fluid-ns-inner .deploycms-list-actions .fluid-menu-button.fluid-dropped {
    background:#EEE;
    border:1px solid #B0B0B0;
    margin:0 0 5px 0;
    
    /* CSS3 */
    -moz-box-shadow:inset 0 1px 1px rgba(0, 0, 0, 0.125);
    -webkit-box-shadow:inset 0 1px 1px rgba(0, 0, 0, 0.125);
    box-shadow:inset 0 1px 1px rgba(0, 0, 0, 0.125);
}
#fluid-ns-outer #fluid-ns-inner .deploycms-list-actions .fluid-menu-button .fluid-drop-down {
    display:none;
    float:right;
    margin-top:-1px;
    margin-right:1px;
}
#fluid-ns-outer #fluid-ns-inner .deploycms-list-actions .fluid-menu-button.fluid-over .fluid-drop-down, 
#fluid-ns-outer #fluid-ns-inner .deploycms-list-actions .fluid-menu-button.fluid-down .fluid-drop-down,
#fluid-ns-outer #fluid-ns-inner .deploycms-list-actions .fluid-menu-button.fluid-dropped  .fluid-drop-down {
    display:block;
}
    
#fluid-ns-outer #fluid-ns-inner .deploycms-list-actions .fluid-button .fluid-icon {
    top:-1px;
	margin-right:8px;
	position:relative;
}
#fluid-ns-outer #fluid-ns-inner .deploycms-list-actions .fluid-separator {
    background:transparent;
    border-bottom:1px dotted #EEE;
    float:none;
    height:0;
    margin:10px 0;
    width:auto;
}
#fluid-ns-outer #fluid-ns-inner .deploycms-list-action-arrow {
    background:url('/media/edit/themes/sw-theme/ui.png') -76px -40px no-repeat;
    cursor:pointer;
    display:inline-block;
    height:11px;
    margin-right:10px;
    width:9px;
}

/* Section: Meta > Data */
#fluid-ns-outer #fluid-ns-inner .deploycms-meta-data {
    overflow:auto;
    width:100%;
}
#fluid-ns-outer #fluid-ns-inner .deploycms-meta-data tr > td {
	background-color:#FFF !important;
}
#fluid-ns-outer #fluid-ns-inner .deploycms-meta-data tr > td:first-child {
	font-weight: bold;
}
#fluid-ns-outer #fluid-ns-inner .deploycms-meta-data tr.fluid-over > td {
    background-color:#CFDBFA !important;
	cursor:pointer;
}
#fluid-ns-outer #fluid-ns-inner .deploycms-meta-data tr > td.fluid-disabled {
	background-color:#F8F8F8 !important;
}

#fluid-ns-outer #fluid-ns-inner .deploycms-meta-data tr > td.fluid-disabled:first-child {
	font-weight: normal;
}

/* Editor */
.deploy-link-marker {
    background:#f8d0f3;
}

#fluid-ns-outer #fluid-ns-inner .fluid-window.fluid-has-minimum-border .fluid-button.deploy-in-use {
    background:#EEE;
    margin-top:0;
    
    /* CSS3 */
    -moz-box-shadow:inset 0 1px 1px rgba(0, 0, 0, 0.125);
    -webkit-box-shadow:inset 0 1px 1px rgba(0, 0, 0, 0.125);
    box-shadow:inset 0 1px 1px rgba(0, 0, 0, 0.125);
}


/* FireFox hacks */
@-moz-document url-prefix() {    

    /* Section: List > Action */
    #fluid-ns-outer #fluid-ns-inner .deploycms-list-actions .fluid-button {
        line-height:12px;
    }

    /* Section: List > Navigation */
    #fluid-ns-outer #fluid-ns-inner .deploycms-list-navigation .fluid-button {
        line-height:14px;
    }
}