body {
    /* This helps prevent issues when resizing elements (e.g. images & videos) */
    overflow-y:scroll;
}

body.edit-no-select {
    -webkit-user-select:none;
    -khtml-user-select:none;
    -moz-user-select:none;
    user-select:none;
}

.edit-element  {
    outline:none;
    -webkit-nbsp-mode:space;
}

.edit-element-inner  {
    outline:none;
    -webkit-nbsp-mode:space;
}

.edit-class-Rule {
    background-repeat:repeat-x;
    background-position:center left;
    border:none;
    clear:both;
    padding:8px 0;
}

.edit-class-Rule hr {
    display:none;
}

.edit-class-List {
    overflow:hidden;
}

.edit-class-ListItem .edit-element-inner,
.edit-class-Caption .edit-element-inner,
.edit-class-TableCell .edit-element-inner {
    /* For inner elements we don't use block we use inline-block as block cases visual errors in IE */
    display:inline-block;
    min-height:1em;
    vertical-align:top;
    width:100%;
}

.edit-class-Text.edit-tmp-over, 
.edit-class-Caption .edit-element-inner.edit-tmp-over, 
.edit-class-TableCell .edit-element-inner.edit-tmp-over, 
.edit-class-ListItem .edit-element-inner.edit-tmp-over {
    background-image:url('img/over-local.png');
    background-repeat:repeat;
    background-position:top left;
    cursor:pointer;
}

.edit-class-Image {
    border:none;
    position:relative;
    padding:2px;
}

a.edit-class-Image {
    display:block;
}

.edit-class-Image img {
    display:block;
    height:100%;
    width:100%;
}

.edit-class-Image div.edit-tmp-helper, .edit-class-Video div.edit-tmp-helper {
    background-color:#000;
    color:#fff;
    display:none;
    font-family:arial;
    font-size:11px;
    left:8px;
    opacity:0.65; filter:alpha(opacity=65);
    padding:2px 4px;
    position:absolute;
    top:8px;
}

.edit-class-Image.edit-tmp-over {
    background-image:url('img/over-local.png');
}

.edit-class-Image.edit-tmp-selected, .edit-class-Video.edit-tmp-selected {
    background-color:#e6eef6;
}

.edit-class-Image .edit-tmp-size-info, .edit-class-Video .edit-tmp-size-info {
    background-color:#000;
    color:#fff;
    filter: alpha(opacity=65);
    font-size:11px;
    left:10px;
    opacity:0.65;
    padding:2px;
    position:absolute;
    top:10px;
}

.edit-class-Video {
    background-color:#eee;
    background-image:url("img/video.png");
    background-position:center center;
    background-repeat:no-repeat;
    display:block;
    position:relative;
    text-align:center;
    text-decoration:none;
    vertical-align:top;
}

.edit-class-Video:hover {
    text-decoration:none;
}

.edit-class-Rule.edit-tmp-over, .edit-class-Video.edit-tmp-over {
    background-color:#dfff7f;
    cursor:pointer;
}

.edit-class-Video div.edit-tmp-helper {
    left:4px;
    top:4px;
}

.edit-class-Text.edit-tmp-selected, 
.edit-class-Caption .edit-element-inner.edit-tmp-selected, 
.edit-class-TableCell .edit-element-inner.edit-tmp-selected, 
.edit-class-ListItem .edit-element-inner.edit-tmp-selected {
    background-color:#e6eef6;
}

.edit-class-Rule.edit-tmp-selected {
    background-color:#e6eef6;
}

.edit-tmp-dragging {
    opacity:0.25;
    filter: alpha(opacity=25);
}

/* Internet explorer wont style the opacity of a row's content */
.edit-class-TableRow.edit-tmp-dragging { filter: alpha(opacity=100); }
.edit-class-TableRow.edit-tmp-dragging .edit-class-TableCell { filter: alpha(opacity=25); }

.edit-tmp-dragged-over {
    background-color:#f8d0f3;
}

.edit-tmp-drop-left {
    background-image:url('img/drop-left.png') !important;;
}

.edit-tmp-drop-right {
    background-image:url('img/drop-right.png') !important;;
}

.edit-tmp-drop-above {
    background-image:url('img/drop-above.png') !important;
    background-position:top left !important;;
}

.edit-tmp-drop-below {
    background-image:url('img/drop-below.png') !important;
    background-position:bottom left  !important;;
}

/* Helper classes */
.edit-tmp-dropper {
    height:1px;
    margin:0;
    padding:0; 
    width:1px; 
    z-index:99;
}

.edit-tmp-dropper-content {
    background-image:url('img/dropper-bkg.png');
    font-size:11px;
    line-height:13px;
    height:80px;
    left:0;
    overflow:hidden;
    padding:5px 10px 15px 10px;
    text-align:left;
    top:0;
    width:80px;
}

.edit-class-Rule.edit-tmp-dropper .edit-tmp-dropper-content {
    background-image:none;
    height:24px;
}

.edit-class-Image.edit-tmp-dropper .edit-tmp-dropper-content {
    background-position:center center;
    height:90px;
    left:0;
    margin:0 2px;
    overflow:hidden;
    padding:0; 
    top:0;
    width:96px;
}

.edit-class-List.edit-tmp-dropper {
    overflow:visible;
}

.edit-tmp-dropper-overlay {
    background-repeat:no-repeat;
    height:100px;
    left:0;
    position:absolute;
    top:0;
    width:100px;
}

.edit-class-Text.edit-tmp-dropper .edit-tmp-dropper-overlay {
    background-image:url('img/text-dropper.png');
}

.edit-class-Rule.edit-tmp-dropper .edit-tmp-dropper-overlay {
    background-image:url('img/rule-dropper.png');
}

.edit-class-List.edit-tmp-dropper .edit-tmp-dropper-overlay {
    background-image:url('img/list-dropper.png');
}

.edit-class-ListItem.edit-tmp-dropper .edit-tmp-dropper-overlay {
    background-image:url('img/list-item-dropper.png');
}

.edit-class-Table.edit-tmp-dropper .edit-tmp-dropper-overlay {
    background-image:url('img/table-dropper.png');
}

.edit-class-TableRow.edit-tmp-dropper .edit-tmp-dropper-overlay {
    background-image:url('img/table-row-dropper.png');
}

.edit-class-Image.edit-tmp-dropper .edit-tmp-dropper-overlay {
    background-image:url('img/image-dropper.png');
}

.edit-class-Video.edit-tmp-dropper .edit-tmp-dropper-overlay {
    background-image:url('img/video-dropper.png');
}

/* Resizable - courtesy of JQuery UI */
.ui-resizable { position: relative;}
.ui-resizable-handle { position: absolute;font-size: 0.1px;z-index: 99999; display: block;}
.ui-resizable-disabled .ui-resizable-handle, .ui-resizable-autohide .ui-resizable-handle { display: none; }
.ui-resizable-se { cursor: se-resize; width: 12px; height: 12px; right: 1px; bottom: 1px; }
.ui-resizable-sw { cursor: sw-resize; width: 9px; height: 9px; left: -5px; bottom: -5px; }
.ui-resizable-nw { cursor: nw-resize; width: 9px; height: 9px; left: -5px; top: -5px; }
.ui-resizable-ne { cursor: ne-resize; width: 9px; height: 9px; right: -5px; top: -5px;}

/* Standard editable CSS */
.edit-class-Text.edit-align-left,
.edit-class-Caption.edit-align-left,
.edit-class-TableCell.edit-align-left
{ text-align:left; }
.edit-class-Text.edit-align-center,
.edit-class-Caption.edit-align-center,
.edit-class-TableCell.edit-align-center
{ text-align:center; }
.edit-class-Text.edit-align-right,
.edit-class-Caption.edit-align-right,
.edit-class-TableCell.edit-align-right
{ text-align:right; }
.edit-class-Image.edit-align-left, .edit-class-Video.edit-align-left { display:block; float:left; margin:0 15px 15px 0; }
.edit-class-Image.edit-align-center, .edit-class-Video.edit-align-center { display:block; clear:both; margin:0 auto 15px auto; }
.edit-class-Image.edit-align-right, .edit-class-Video.edit-align-right { display:block; float:right; margin:0 0 15px 15px; }