#fluid-ns-outer #fluid-ns-inner {
    text-align: left;
}

#fluid-ns-outer #fluid-ns-inner .fluid-widget {
    color:#414143;
    font-family:Tahoma,san-serif; 
    font-size:12px;
    line-height:14px;
}

/* Layout */
#fluid-ns-outer #fluid-ns-inner .fluid-hidden { display:none; }
#fluid-ns-outer #fluid-ns-inner .fluid-right { float:right !important; }
#fluid-ns-outer #fluid-ns-inner .fluid-clear { clear:both; }
#fluid-ns-outer #fluid-ns-inner .fluid-scrolls { overflow:auto: }

/* Section: Panels & Groups */
#fluid-ns-outer #fluid-ns-inner .fluid-panel.fluid-sep {
    margin-bottom:10px;
}
#fluid-ns-outer #fluid-ns-inner .fluid-panel.fluid-center {
    padding:auto;
}
#fluid-ns-outer #fluid-ns-inner .fluid-group {
    position:relative;
}

/* Section: Text */
#fluid-ns-outer #fluid-ns-inner .fluid-text.fluid-sep {
    margin-bottom:10px;
}
#fluid-ns-outer #fluid-ns-inner .fluid-text.fluid-center {
    text-align:center;
	width:100%;
}
#fluid-ns-outer #fluid-ns-inner .fluid-group .fluid-legend {
    background:#FFF;
    display:inline-block;
    font-weight:bold;
    padding:0 5px;
    position:absolute;
    top:-8px;
}
#fluid-ns-outer #fluid-ns-inner .fluid-text.fluid-strong {
    font-weight:bold;
}

/* Section: Labels & Icons */
#fluid-ns-outer #fluid-ns-inner .fluid-disabled .fluid-label, 
#fluid-ns-outer #fluid-ns-inner .fluid-disabled .fluid-icon {
    opacity:0.5;
}
#fluid-ns-outer #fluid-ns-inner .fluid-icon.fluid-right {
    float:none !important;
    margin-right:0 !important; 
}

/* Section: Data table */
#fluid-ns-outer #fluid-ns-inner .fluid-data-table {
    border-collapse:collapse;
}
#fluid-ns-outer #fluid-ns-inner .fluid-data-table th, 
#fluid-ns-outer #fluid-ns-inner .fluid-data-table td {
    font-size:11px;
    line-height:13px;
    padding:7px 10px;
}
#fluid-ns-outer #fluid-ns-inner .fluid-data-table th {
    border:1px solid #EEE;
    text-align:left;
}
#fluid-ns-outer #fluid-ns-inner .fluid-data-table td {
    border-right:1px solid #FFF;
}
#fluid-ns-outer #fluid-ns-inner .fluid-data-table tr.fluid-even td {
    background:#E7EDFC;
}

/* Section: Separators */
#fluid-ns-outer #fluid-ns-inner .fluid-separator {
    background:url('/media/edit/themes/sw-theme/ui.png') -80px 0 repeat-x;
    float:left;
    height:24px;
    margin-right:10px;
    width:2px;
}
#fluid-ns-outer #fluid-ns-inner .fluid-menu .fluid-separator {
    background:#E4E7E9;
    width:100%;
    float:none;
    margin:5px 0;
    height:1px;
}
#fluid-ns-outer #fluid-ns-inner .fluid-window.fluid-has-minimum-border .fluid-separator {
    background:None;
    border-right:1px dotted #EEE;
    float:left;
    height:22px;
    margin-right:5px;
    width:0;
}
#fluid-ns-outer #fluid-ns-inner .fluid-window.fluid-has-minimum-border .fluid-separator.fluid-vertical {
    background:None;
    border-right:none;
    border-top:1px dotted #EEE;
    clear:both;
    float:none;
    height:0;
    margin:5px 0;
    width:100%;
}

/* Section: Buttons */
#fluid-ns-outer #fluid-ns-inner .fluid-button {
    background:#CCCED3 url('/media/edit/themes/sw-theme/ui.png') 0 -220px repeat-x;
    border-bottom:1px solid #8F9295;
    border-left:1px solid #C3C5C8;
    border-right:1px solid #C3C5C8;
    border-top:1px solid #DFE2E5;
    cursor:pointer;
    float:left;
    font-size:11px;
    height:16px;
    letter-spacing:0.1em;
    padding:4px 10px 2px;
    margin-top:0;
    margin-bottom:1px;
    min-width:75px;
    position:relative;
    text-align:center;
    
    /* CSS3 */
    -moz-border-radius:4px;
    -webkit-border-radius:4px;
    border-radius:4px;
    -moz-box-shadow:0px 1px 2px rgba(0, 0, 0, 0.25);
    -webkit-box-shadow:0px 1px 2px rgba(0, 0, 0, 0.25);
    box-shadow:0px 1px 2px rgba(0, 0, 0, 0.25);
    
    /* Prevent text selection off labels within buttons */
    -webkit-user-select:none;
    -khtml-user-select:none;
    -moz-user-select:none;
    user-select:none;
}
#fluid-ns-outer #fluid-ns-inner .fluid-button.fluid-over {
    color:#161616;
}
#fluid-ns-outer #fluid-ns-inner .fluid-button.fluid-down {
    margin-top:1px;
    margin-bottom:0;
    -moz-box-shadow:0px -1px 2px rgba(0, 0, 0, 0.125);
    -webkit-box-shadow:0px -1px 2px rgba(0, 0, 0, 0.125);
    box-shadow:0px -1px 2px rgba(0, 0, 0, 0.125);
}
#fluid-ns-outer #fluid-ns-inner .fluid-button.fluid-sep {
    margin-right:10px;
}
#fluid-ns-outer #fluid-ns-inner .fluid-button.fluid-center {
    float:none !important;
    margin:auto;
    width:0;
    white-space:nowrap;
}
#fluid-ns-outer #fluid-ns-inner .fluid-button.fluid-center.fluid-down,
#fluid-ns-outer #fluid-ns-inner .fluid-button.fluid-dropped {
    margin-top:1px;
    margin-bottom:-1px;
}
#fluid-ns-outer #fluid-ns-inner .fluid-button .fluid-click-region {
    bottom:0;
    height:23px;
    left:0;
    position:absolute;
    width:100%;
    z-index:1;
}
#fluid-ns-outer #fluid-ns-inner .fluid-button .fluid-icon {
    display:inline-block;
    height:16px;
    vertical-align:middle;
    width:16px;
    margin-right:6px;
    margin-top:-2px;
}
#fluid-ns-outer #fluid-ns-inner .fluid-button.fluid-icon-right .fluid-icon {
    float:right;
    margin-right:0;
}
#fluid-ns-outer #fluid-ns-inner .fluid-button.fluid-icon-only { 
    min-width:0;
    padding-left:6px; 
    padding-right:6px;
}
#fluid-ns-outer #fluid-ns-inner .fluid-button.fluid-icon-only .fluid-icon {
    margin-right:0;
}

/* Section: Buttons > Application bar */
#fluid-ns-outer #fluid-ns-inner .fluid-application-bar .fluid-button {
    background:#3A3E41 url('/media/edit/themes/sw-theme/ui.png') 0 -151px repeat-x;
    border-bottom:1px solid #2D3134;
    border-left:1px solid #303437;
    border-right:1px solid #303437;
    border-top:1px solid #34383C;
    color:#E0E0E0;
    margin-bottom:0;
    
    /* CSS3 */
    -moz-border-radius:4px;
    -webkit-border-radius:4px;
    border-radius:4px;
    -moz-box-shadow:none;
    -webkit-box-shadow:none;
    box-shadow:none;
}
#fluid-ns-outer #fluid-ns-inner .fluid-application-bar .fluid-button.fluid-over { background-position:0 -174px; }
#fluid-ns-outer #fluid-ns-inner .fluid-application-bar .fluid-button.fluid-down,
#fluid-ns-outer #fluid-ns-inner .fluid-application-bar .fluid-button.fluid-dropped {
    background-position:0 -196px;
    margin-top:1px;
    padding-top:4px;
    padding-bottom:1px;
    
    /* CSS3 */
    -moz-box-shadow:inset 0px 1px 1px rgba(0, 0, 0, 0.25);
    -webkit-box-shadow:inset 0px 1px 1px rgba(0, 0, 0, 0.25);
    box-shadow:inset 0px 1px 1px rgba(0, 0, 0, 0.25);
}

/* Green */
#fluid-ns-outer #fluid-ns-inner .fluid-application-bar .fluid-button.fluid-green {
    background-position:0 -426px;
}
#fluid-ns-outer #fluid-ns-inner .fluid-application-bar .fluid-button.fluid-green.fluid-over { background-position:0 -449px; }
#fluid-ns-outer #fluid-ns-inner .fluid-application-bar .fluid-button.fluid-green.fluid-down,
#fluid-ns-outer #fluid-ns-inner .fluid-application-bar .fluid-button.fluid-green.fluid-dropped {
    background-position:0 -472px;
}

/* Red */
#fluid-ns-outer #fluid-ns-inner .fluid-application-bar .fluid-button.fluid-red {
    background-position:0 -495px;
}
#fluid-ns-outer #fluid-ns-inner .fluid-application-bar .fluid-button.fluid-red.fluid-over { background-position:0 -518px; }
#fluid-ns-outer #fluid-ns-inner .fluid-application-bar .fluid-button.fluid-red.fluid-down,
#fluid-ns-outer #fluid-ns-inner .fluid-application-bar .fluid-button.fluid-red.fluid-dropped {
    background-position:0 -541px;
}

/* Section: Buttons > Tool window */
#fluid-ns-outer #fluid-ns-inner .fluid-window.fluid-has-minimum-border .fluid-button {
    background:#FFF;
    border:1px solid #D7D7D7;
    font-size:10px;
    height:13px;
    line-height:12px;
    margin-bottom:5px;
    min-width:0;
    padding:4px 3px 3px;
    
    /* CSS3 */
    -moz-border-radius:2px;
    -webkit-border-radius:2px;
    border-radius:2px;
    -moz-box-shadow:none;
    -webkit-box-shadow:none;
    box-shadow:none;
}
#fluid-ns-outer #fluid-ns-inner .fluid-window.fluid-has-minimum-border .fluid-button.fluid-over { border:1px solid #B0B0B0; }
#fluid-ns-outer #fluid-ns-inner .fluid-window.fluid-has-minimum-border .fluid-button.fluid-down,
#fluid-ns-outer #fluid-ns-inner .fluid-window.fluid-has-minimum-border .fluid-button.fluid-dropped {
    background:#EEE;
    margin-top:0;
    
    /* CSS3 */
    -moz-box-shadow:inset 0 1px 1px rgba(0, 0, 0, 0.125);
    -webkit-box-shadow:inset 0 1px 1px rgba(0, 0, 0, 0.125);
    box-shadow:inset 0 1px 1px rgba(0, 0, 0, 0.125);
}
#fluid-ns-outer #fluid-ns-inner .fluid-window.fluid-has-minimum-border .fluid-button.fluid-sep {
    margin-right:5px;
}
#fluid-ns-outer #fluid-ns-inner .fluid-window.fluid-has-minimum-border .fluid-button .fluid-icon {
    display:inline-block;
    height:16px;
    vertical-align:top;
    width:16px;
}

/* Section: Menu buttons */
#fluid-ns-outer #fluid-ns-inner .fluid-menu-button .fluid-drop-down {
    background:url('/media/edit/themes/sw-theme/ui.png') -3px 0 no-repeat;
    display:inline-block;
    height:16px;
    vertical-align:middle;
    width:10px;
    margin-left:4px;
    margin-top:-2px;
}

#fluid-ns-outer #fluid-ns-inner .fluid-menu-button.fluid-disabled .fluid-drop-down {
	opacity: 0.5;
}

/* Section: Menu buttons > Application bar  */
#fluid-ns-outer #fluid-ns-inner .fluid-application-bar .fluid-menu-button .fluid-drop-down {
    background:url('/media/edit/themes/sw-theme/ui.png') -19px 0 no-repeat;
}

/* Section: Menu buttons > Tool window */
#fluid-ns-outer #fluid-ns-inner .fluid-window.fluid-has-minimum-border .fluid-menu-button .fluid-drop-down {
    background:url('/media/edit/themes/sw-theme/ui.png') -87px -25px no-repeat;
    height:10px;
    vertical-align:top;
    width:8px;
    margin-top:1px;
}

/* Section: Menus & Menu-items */
#fluid-ns-outer #fluid-ns-inner .fluid-menu {
    background:#F1F4F7;
    margin:5px 0;
    padding:4px 0;
    position:fixed;
    width:190px;
    
    /* CSS3 */
    -moz-border-radius:6px;
    -webkit-border-radius:6px;
    border-radius:6px;
    -moz-box-shadow:0px 2px 4px rgba(0, 0, 0, 0.25);
    -webkit-box-shadow:0px 2px 4px rgba(0, 0, 0, 0.25);
    box-shadow:0px 2px 4px rgba(0, 0, 0, 0.25);

    /* Prevent text selection off labels within menus */
    -webkit-user-select:none;
    -khtml-user-select:none;
    -moz-user-select:none;
    user-select:none;
}
#fluid-ns-outer #fluid-ns-inner .fluid-menu.fluid-sub { margin:-4px 2px 0 2px; }
#fluid-ns-outer #fluid-ns-inner .fluid-menu-item {
    font-size:12px;
    height:16px;
    overflow:hidden;
    padding:4px 0px;
    position:relative;
}
#fluid-ns-outer #fluid-ns-inner .fluid-menu-item.fluid-over {
    background-color:#CFDBFA;
    cursor:pointer;
}
#fluid-ns-outer #fluid-ns-inner .fluid-menu-item .fluid-label {
    position:absolute;
    left:30px;
}
#fluid-ns-outer #fluid-ns-inner .fluid-menu-item .fluid-icon {
    display:inline-block;
    height:16px;
    left:10px;
    position:absolute;
    vertical-align:middle;
    width:16px;
    margin-top:-1px;
}
#fluid-ns-outer #fluid-ns-inner .fluid-menu-item .fluid-drop-down {
    background:url('/media/edit/themes/sw-theme/ui.png') -35px 0 no-repeat;
    display:inline-block;
    height:16px;
    position:absolute;
    right:10px;
    vertical-align:middle;
    width:10px;
    margin-top:-1px;
}
#fluid-ns-outer #fluid-ns-inner .fluid-menu-item .fluid-toggle {
    background:url('/media/edit/themes/sw-theme/ui.png') -64px 0 no-repeat;
    display:inline-block;
    height:16px;
    position:absolute;
    right:10px;
    vertical-align:middle;
    width:16px;
    margin-top:-1px;
}
#fluid-ns-outer #fluid-ns-inner .fluid-menu-item.fluid-on .fluid-toggle {
    background:url('/media/edit/themes/sw-theme/ui.png') -48px 0 no-repeat;
}

/* Section: Tabbers */
#fluid-ns-outer #fluid-ns-inner .fluid-tabber .fluid-tabs {
    border-bottom:1px solid #B0B0B0;
    height:22px;
    padding:0 5px;
    position:relative;
    
    /* Prevent text selection off labels within buttons */
    -webkit-user-select:none;
    -khtml-user-select:none;
    -moz-user-select:none;
    user-select:none;
}
#fluid-ns-outer #fluid-ns-inner .fluid-tabber .fluid-tabs > .fluid-tabber-tab {
    background:#FFF;
    border:1px solid #D7D7D7;
    border-bottom:none;
    cursor:pointer;
    
    float:left;
    font-size:11px;
    height:14px;
    letter-spacing:0.1em;
    padding:3px 10px 2px;
    margin-top:2px;
    margin-right:2px;
    min-width:75px;
    text-align:center;
    
    /* CSS3 */
    -moz-border-radius:4px;
    -webkit-border-radius:4px;
    border-radius:4px;
    -moz-bottom-left-border-radius:0;
    -webkit-bottom-left-border-radius:0;
    border-bottom-left-radius:0;
    -moz-bottom-right-border-radius:0;
    -webkit-bottom-right-border-radius:0;
    border-bottom-right-radius:0;
}
#fluid-ns-outer #fluid-ns-inner .fluid-tabber .fluid-tabs > .fluid-tabber-tab.fluid-over {
    border-color:#B0B0B0;
    color:#161616;
}
#fluid-ns-outer #fluid-ns-inner .fluid-tabber .fluid-tabs > .fluid-tabber-tab.fluid-selected {
    border-color:#B0B0B0;
    cursor:default;
    font-weight:bold;
    height:15px;
    letter-spacing:0;
    margin-top:0;
    padding-top:5px;
}
#fluid-ns-outer #fluid-ns-inner .fluid-tabber .fluid-tabs .fluid-icon {
    display:inline-block;
    height:16px;
    vertical-align:middle;
    width:16px;
    margin-right:4px;
    margin-top:-2px;
}
#fluid-ns-outer #fluid-ns-inner .fluid-tabber .fluid-tabs > .fluid-tab.fluid-icon-only { 
    min-width:0;
    padding-left:6px; 
    padding-right:6px;
}
#fluid-ns-outer #fluid-ns-inner .fluid-tabber .fluid-tabs > .fluid-tab.fluid-icon-only .fluid-icon {
    margin-right:0;
}
#fluid-ns-outer #fluid-ns-inner .fluid-tabber > .fluid-client {
    clear:both;
    padding-top:10px;
}
#fluid-ns-outer #fluid-ns-inner .fluid-tabber > .fluid-client.fluid-selected { display:block; }

/* Section: Tabber > Tool window */
#fluid-ns-outer #fluid-ns-inner .fluid-window.fluid-has-minimum-border .fluid-tabber .fluid-tabs {
    height:21px;
    padding-left:0;
    padding-right:0;
}
#fluid-ns-outer #fluid-ns-inner .fluid-window.fluid-has-minimum-border .fluid-tabber .fluid-tabs > .fluid-tabber-tab {
    font-size:10px;
    line-height:14px;
    margin-right:1px;
    padding:2px 5px 3px;
    height:13px;
}
#fluid-ns-outer #fluid-ns-inner .fluid-window.fluid-has-minimum-border .fluid-tabber .fluid-tabs > .fluid-tabber-tab.fluid-selected {
    letter-spacing:0.1em;
    margin-top:1px;
    padding-top:3px;
    padding-bottom:4px;
}
#fluid-ns-outer #fluid-ns-inner .fluid-window.fluid-has-minimum-border .fluid-tabber > .fluid-client { font-size:11px; }
#fluid-ns-outer #fluid-ns-inner .fluid-window.fluid-has-minimum-border .fluid-tabber .fluid-tabs .fluid-icon {
    margin-top:-1px;
    vertical-align:top;
}
#fluid-ns-outer #fluid-ns-inner .fluid-window.fluid-has-minimum-border .fluid-tabber > .fluid-client {
    padding-top:5px;
}

/* Section: Application bar */
#fluid-ns-outer #fluid-ns-inner .fluid-application-bar {
    background:
        url('/media/edit/themes/sw-theme/ui.png') 0 -379px no-repeat,
        #3A3E41 url('/media/edit/themes/sw-theme/ui.png') 0 -107px repeat-x;
    border-bottom:1px solid #25292C;
    color:#E0E0E0;
    height:23px;
    left:0;
    padding:10px 10px 10px 100px;
    position:fixed;
    top:0;
    width:100%;
    
    /* CSS3 */
    -moz-box-shadow:0px 2px 4px rgba(0, 0, 0, 0.25);
    -webkit-box-shadow:0px 2px 4px rgba(0, 0, 0, 0.25);
    box-shadow:0px 2px 4px rgba(0, 0, 0, 0.25);
    
    /* Prevent text selection off labels within window title bars */
    -webkit-user-select:none;
    -khtml-user-select:none;
    -moz-user-select:none;
    user-select:none;
}

/* Section: Status bar */
#fluid-ns-outer #fluid-ns-inner .fluid-status-bar {
    background:rgba(0, 0, 0, 0.5);
    bottom:0;
    color:#E0E0E0;
    display:none;
    height:25px;
    overflow:hidden;
    padding:8px 10px;
    position:fixed;
    width:100%;
}
#fluid-ns-outer #fluid-ns-inner .fluid-status-bar .fluid-label {
    font-size:14px;
    line-height:25px;
}
#fluid-ns-outer #fluid-ns-inner .fluid-desktop .fluid-group-modeless {
    position:fixed; top:0; left:0; z-index:10000;
}

/* Section: Desktop */
#fluid-ns-outer #fluid-ns-inner .fluid-desktop.fluid-frozen .fluid-group-modal {
	opacity:0.75;
}
#fluid-ns-outer #fluid-ns-inner .fluid-desktop.fluid-measuring .fluid-group-modeless {
    height:10000px;
    width:10000px;
} 
#fluid-ns-outer #fluid-ns-inner .fluid-desktop .fluid-modal-curtain {
    background-color:#000;
    height:100%;
    left:0;
    opacity:0.8;
    position:fixed;
    top:0;
    width:100%;
    z-index:20000;
}
#fluid-ns-outer #fluid-ns-inner .fluid-desktop .fluid-group-modal {
    height:100%;
    left:0;
    position:fixed;
    top:0;
    width:100%;
    z-index:20001;
}
#fluid-ns-outer #fluid-ns-inner .fluid-desktop .fluid-single-modal-curtain {
    background-color:#000;
    height:100%;
    opacity:0.0;
    position:fixed; top:0; left:0; 
    width:100%;
    z-index:30000;
}
#fluid-ns-outer #fluid-ns-inner .fluid-desktop .fluid-group-single-modal {
    position:fixed; top:0; left:0;
    width:100%; height:100%; z-index:30001;
}

/* Section: Windows */
#fluid-ns-outer #fluid-ns-inner .fluid-window {
    background:#FFF;
    
    /* CSS3 */
    -moz-border-radius:8px;
    -webkit-border-radius:8px;
    border-radius:8px;
    -moz-bottom-left-border-radius:4px;
    -webkit-bottom-left-border-radius:4px;
    border-bottom-left-radius:4px;
    -moz-bottom-right-border-radius:4px;
    -webkit-bottom-right-border-radius:4px;
    border-bottom-right-radius:4px;
    
    -moz-box-shadow:0px 2px 4px rgba(0, 0, 0, 0.25);
    -webkit-box-shadow:0px 2px 4px rgba(0, 0, 0, 0.25);
    box-shadow:0px 2px 4px rgba(0, 0, 0, 0.25);
}

#fluid-ns-outer #fluid-ns-inner .fluid-window.fluid-dragging {
    opacity: 0.5;
}

/* Section: Windows > Title */
#fluid-ns-outer #fluid-ns-inner .fluid-window .fluid-title {
    background:#3A3E41 url('/media/edit/themes/sw-theme/ui.png') 0 -243px repeat-x;
    border-bottom:1px solid #25292C;
    border-left:1px solid #444A4E;
    border-right:1px solid #444A4E;
    border-top:1px solid #555B60;
    color:#E0E0E0;
    font-size:12px;
    font-weight:bold;
    height:17px;
    line-height:14px;
    padding:4px 10px 2px;
    position:relative;
    text-align:center;

    /* CSS3 */
    -moz-top-left-border-radius:6px;
    -webkit-top-left-border-radius:6px;
    border-top-left-radius:6px;
    -moz-top-right-border-radius:6px;
    -webkit-top-right-border-radius:6px;
    border-top-right-radius:6px;
    
    /* Prevent text selection off labels within window title bars */
    -webkit-user-select:none;
    -khtml-user-select:none;
    -moz-user-select:none;
    user-select:none;
}
#fluid-ns-outer #fluid-ns-inner .fluid-window.fluid-can-drag .fluid-title {
    cursor:move;
}
#fluid-ns-outer #fluid-ns-inner .fluid-window .fluid-title > .fluid-icon {
    display:inline-block;
    height:16px;
    vertical-align:middle;
    width:16px;
    margin-right:4px;
    margin-top:-2px;
}
#fluid-ns-outer #fluid-ns-inner .fluid-window .fluid-title .fluid-tools {
    height:12px;
    position:absolute;
    right:0;
    top:6px;
}
#fluid-ns-outer #fluid-ns-inner .fluid-window .fluid-title .fluid-tools > .fluid-icon {
    background-image:url('/media/edit/themes/sw-theme/ui.png');
    background-repeat:no-repeat;
    cursor:pointer;
    display:inline-block;
    height:12px;
    margin-right:6px;
    position:relative;
    width:12px;
}
#fluid-ns-outer #fluid-ns-inner .fluid-window .fluid-title .fluid-tools > .fluid-icon.fluid-down { top:1px; }
#fluid-ns-outer #fluid-ns-inner .fluid-window .fluid-title .fluid-tools > .fluid-icon.fluid-close { background-position:0 -25px; }
#fluid-ns-outer #fluid-ns-inner .fluid-window .fluid-title .fluid-tools > .fluid-icon.fluid-maximize { background-position:-12px -25px; }
#fluid-ns-outer #fluid-ns-inner .fluid-window .fluid-title .fluid-tools > .fluid-icon.fluid-minimize { background-position:-24px -25px; }

/* Section: Windows > Client */
#fluid-ns-outer #fluid-ns-inner .fluid-window > .fluid-client {
    background:#FFF;
    overflow:auto;
    padding:10px;
    
    /* CSS3 */
    -moz-bottom-left-border-radius:4px;
    -webkit-bottom-left-border-radius:4px;
    border-bottom-left-radius:4px;
    -moz-bottom-right-border-radius:4px;
    -webkit-bottom-right-border-radius:4px;
    border-bottom-right-radius:4px;
}

/* Section: Windows > Resize */
#fluid-ns-outer #fluid-ns-inner .fluid-window > .fluid-resize {
    background:url('/media/edit/themes/sw-theme/ui.png') -36px -25px no-repeat;
    cursor:se-resize;
    height:12px;
    position:absolute;
    right:1px;
    bottom:0;
    width:12px;
}
#fluid-ns-outer #fluid-ns-inner .fluid-window-resizer {
    background:rgba(116,205,255,0.25);
    border:1px dotted #f8f8f8;
    cursor:se-resize;
    position:absolute;
}

/* Section: Windows > Actions & Info */
#fluid-ns-outer #fluid-ns-inner .fluid-window > .fluid-actions,
#fluid-ns-outer #fluid-ns-inner .fluid-window > .fluid-info {
    background:#FFEDA5;
    clear:both;
    display:none;
    overflow:hidden;
    height:25px;
    padding:8px 10px;
}
#fluid-ns-outer #fluid-ns-inner .fluid-window.fluid-has-actions > .fluid-actions,
#fluid-ns-outer #fluid-ns-inner .fluid-window.fluid-has-info > .fluid-info {
    display:block;
}
#fluid-ns-outer #fluid-ns-inner .fluid-window > .fluid-actions { 
    background:#CFDBFA;
    
    /* CSS3 */
    -moz-bottom-left-border-radius:4px;
    -webkit-bottom-left-border-radius:4px;
    border-bottom-left-radius:4px;
    -moz-bottom-right-border-radius:4px;
    -webkit-bottom-right-border-radius:4px;
    border-bottom-right-radius:4px;
}
#fluid-ns-outer #fluid-ns-inner .fluid-window > .fluid-info .fluid-text, 
#fluid-ns-outer #fluid-ns-inner .fluid-window > .fluid-actions .fluid-text {
    float:left;
    font-size:12px;
    line-height:12px;
    padding:7px 0 0;
}
#fluid-ns-outer #fluid-ns-inner .fluid-window > .fluid-info .fluid-text.fluid-sep, 
#fluid-ns-outer #fluid-ns-inner .fluid-window > .fluid-actions .fluid-text.fluid-sep { margin-right:10px; }

/* Section: Windows > Minimized */
#fluid-ns-outer #fluid-ns-inner .fluid-window.fluid-minimized {
    background:transparent !important;
    height:auto !important;
}
#fluid-ns-outer #fluid-ns-inner .fluid-window.fluid-minimized > .fluid-title {
    /* CSS3 */
    -moz-border-radius:6px;
    -webkit-border-radius:6px;
    border-radius:6px;
}
#fluid-ns-outer #fluid-ns-inner .fluid-window.fluid-minimized > .fluid-actions,
#fluid-ns-outer #fluid-ns-inner .fluid-window.fluid-minimized > .fluid-client,
#fluid-ns-outer #fluid-ns-inner .fluid-window.fluid-minimized > .fluid-info,
#fluid-ns-outer #fluid-ns-inner .fluid-window.fluid-minimized > .fluid-resize {
    display:none !important;
}
#fluid-ns-outer #fluid-ns-inner .fluid-window.fluid-has-minimum-border.fluid-minimized {
	padding:0;
}
#fluid-ns-outer #fluid-ns-inner .fluid-window.fluid-has-minimum-border.fluid-minimized > .fluid-title {
    /* CSS3 */
    -moz-border-radius:2px;
    -webkit-border-radius:2px;
    border-radius:2px;
}

/* Section: Tool Windows */
#fluid-ns-outer #fluid-ns-inner .fluid-window.fluid-has-minimum-border {
    background:#D7D7D7;
    border:1px solid #25292C;
    padding-bottom:5px;
    
    /* CSS3 */
    -moz-border-radius:4px;
    -webkit-border-radius:4px;
    border-radius:4px;
    -moz-box-shadow:0px 2px 4px rgba(0, 0, 0, 0.25);
    -webkit-box-shadow:0px 2px 4px rgba(0, 0, 0, 0.25);
    box-shadow:0px 2px 4px rgba(0, 0, 0, 0.25);
    
    /* Prevent text selection off labels within tool windows */
    -webkit-user-select:none;
    -khtml-user-select:none;
    -moz-user-select:none;
    user-select:none;
}

/* Section: Tool Windows > Title */
#fluid-ns-outer #fluid-ns-inner .fluid-window.fluid-has-minimum-border .fluid-title {
    background:#3A3E41 url('/media/edit/themes/sw-theme/ui.png') 0 -267px repeat-x;
    border-bottom:1px solid #25292C;
    border-left:1px solid #43494E;
    border-right:1px solid #43494E;
    border-top:1px solid #555B60;
    color:#E0E0E0;
    cursor:move;
    font-size:10px;
    font-weight:bold;
    height:10px;
    line-height:6px;
    padding:2px 5px 0;
    position:relative;
    text-align:center;

    /* CSS3 */
    -moz-top-left-border-radius:2px;
    -webkit-top-left-border-radius:2px;
    border-top-left-radius:2px;
    -moz-top-right-border-radius:2px;
    -webkit-top-right-border-radius:2px;
    border-top-right-radius:2px;
}
#fluid-ns-outer #fluid-ns-inner .fluid-window.fluid-has-minimum-border .fluid-title .fluid-tools {
    height:12px;
    position:absolute;
    right:0;
    top:0;
}
#fluid-ns-outer #fluid-ns-inner .fluid-window.fluid-has-minimum-border .fluid-title .fluid-tools > .fluid-icon {
    background-image:url('/media/edit/themes/sw-theme/ui.png');
    background-repeat:no-repeat;
    cursor:pointer;
    display:inline-block;
    height:10px;
    margin-right:2px;
    position:relative;
    top:-1px;
    width:10px;
}
#fluid-ns-outer #fluid-ns-inner .fluid-window.fluid-has-minimum-border .fluid-title .fluid-tools > .fluid-icon.fluid-down { top:0px; }
#fluid-ns-outer #fluid-ns-inner .fluid-window.fluid-has-minimum-border .fluid-title .fluid-tools > .fluid-icon.fluid-close { background-position:-48px -25px; }
#fluid-ns-outer #fluid-ns-inner .fluid-window.fluid-has-minimum-border .fluid-title .fluid-tools > .fluid-icon.fluid-maximize { background-position:-58px -25px; }
#fluid-ns-outer #fluid-ns-inner .fluid-window.fluid-has-minimum-border .fluid-title .fluid-tools > .fluid-icon.fluid-minimize { background-position:-68px -25px; }

/* Section: Tool Windows > Resize */
#fluid-ns-outer #fluid-ns-inner .fluid-window.fluid-has-minimum-border > .fluid-resize {
    background:url('/media/edit/themes/sw-theme/ui.png') -78px -25px no-repeat;
    cursor:se-resize;
    height:10px;
    position:absolute;
    right:0;
    bottom:0;
    width:10px;
}

/* Section: Tool Windows > Client */
#fluid-ns-outer #fluid-ns-inner .fluid-window.fluid-has-minimum-border > .fluid-client {
    background:#FFF;
    font-size:10px;
    margin:5px 5px 0;
    padding:5px 5px 7px;
    
    /* CSS3 */
    -moz-border-radius:2px;
    -webkit-border-radius:2px;
    border-radius:2px;
}

/* Section: Bubbles */
#fluid-ns-outer #fluid-ns-inner .fluid-bubble,
#fluid-ns-outer #fluid-ns-inner .fluid-bubble-window {
    background:#FFF;
    padding:10px;
    position:absolute;
    text-align:center;
    width:150px;
	z-index:999;
    
    /* CSS3 */
    -moz-border-radius:4px;
    -webkit-border-radius:4px;
    border-radius:4px;
    -moz-box-shadow:0px 2px 4px rgba(0, 0, 0, 0.25);
    -webkit-box-shadow:0px 2px 4px rgba(0, 0, 0, 0.25);
    box-shadow:0px 2px 4px rgba(0, 0, 0, 0.25);
    
    /* Prevent text selection off labels within bubbles */
    -webkit-user-select:none;
    -khtml-user-select:none;
    -moz-user-select:none;
    user-select:none;
}
#fluid-ns-outer #fluid-ns-inner .fluid-bubble-window {
    text-align: left;
    width: 300px;
}

#fluid-ns-outer #fluid-ns-inner .fluid-bubble.fluid-north,
#fluid-ns-outer #fluid-ns-inner .fluid-bubble-window.fluid-north {
    margin-top:16px;
}
#fluid-ns-outer #fluid-ns-inner .fluid-bubble .fluid-tail,
#fluid-ns-outer #fluid-ns-inner .fluid-bubble-window .fluid-tail {
    background:url('/media/edit/themes/sw-theme/ui.png') 0 -40px;
    bottom:-16px;
    height:16px;
    left:10px;
    width:16px;
    position:absolute;
}
#fluid-ns-outer #fluid-ns-inner .fluid-bubble.fluid-north .fluid-tail,
#fluid-ns-outer #fluid-ns-inner .fluid-bubble-window.fluid-north .fluid-tail {
    background-position:-16px -40px;
    top:-16px;
}
#fluid-ns-outer #fluid-ns-inner .fluid-bubble.fluid-east .fluid-tail,
#fluid-ns-outer #fluid-ns-inner .fluid-bubble-window.fluid-east .fluid-tail {
    background-position:-32px -40px;
    left:auto;
    right:10px;
}
#fluid-ns-outer #fluid-ns-inner .fluid-bubble.fluid-north.fluid-east .fluid-tail,
#fluid-ns-outer #fluid-ns-inner .fluid-bubble-window.fluid-north.fluid-east .fluid-tail { 
    background-position:-48px -40px;
}

/* Section: Notice */
#fluid-ns-outer #fluid-ns-inner .fluid-notice {
    background:rgba(0, 0, 0, 0.5);
    color:#FFF;
    font-size:24px;
    font-weight:bold;
    line-height:24px;
    max-width:700px;
    padding:20px 40px;
    position:absolute;
    text-align:center;
    
    /* CSS3 */
    -moz-border-radius:8px;
    -webkit-border-radius:8px;
    border-radius:8px;
    text-shadow:0px 1px 2px rgba(0, 0, 0, 0.5);
}

/* Section: Date picker */
#fluid-ns-outer #fluid-ns-inner .fluid-field-date-picker {
    background:#F1F4F7;
    font-size:11px;
    padding:10px;
	position:absolute;
	z-index:9999;
    
    /* CSS3 */
    -moz-border-radius:4px;
    -webkit-border-radius:4px;
    border-radius:4px;
    -moz-box-shadow:0px 2px 4px rgba(0, 0, 0, 0.25);
    -webkit-box-shadow:0px 2px 4px rgba(0, 0, 0, 0.25);
    box-shadow:0px 2px 4px rgba(0, 0, 0, 0.25);
    
    /* Prevent text selection off labels within bubbles */
    -webkit-user-select:none;
    -khtml-user-select:none;
    -moz-user-select:none;
    user-select:none;
}
#fluid-ns-outer #fluid-ns-inner .fluid-field-date-picker .fluid-title {
    font-size:11px;
    position:relative;
    text-align:center;
}
#fluid-ns-outer #fluid-ns-inner .fluid-field-date-picker .fluid-prev, .fluid-field-date-picker .fluid-next {
    background:url('/media/edit/themes/sw-theme/ui.png') -64px -40px no-repeat;
    cursor:pointer;
    height:12px;
    left:0;
    position:absolute;
    top:0;
    width:12px;
}
#fluid-ns-outer #fluid-ns-inner .fluid-field-date-picker .fluid-prev.fluid-down, 
#fluid-ns-outer #fluid-ns-inner .fluid-field-date-picker .fluid-next.fluid-down { margin-top:1px; }
#fluid-ns-outer #fluid-ns-inner .fluid-field-date-picker .fluid-next {
    background-position:-76px -40px;
    left:auto;
    right:0;
}
#fluid-ns-outer #fluid-ns-inner .fluid-field-date-picker .fluid-calendar {
    border-collapse:collapse;
}
#fluid-ns-outer #fluid-ns-inner .fluid-field-date-picker .fluid-calendar th, 
#fluid-ns-outer #fluid-ns-inner .fluid-field-date-picker .fluid-calendar td {
    border:1px solid #F1F4F7;
    height:20px;
    text-align:center;
    width:20px;
}
#fluid-ns-outer #fluid-ns-inner .fluid-field-date-picker .fluid-calendar th { 
    font-weight:bold; 
}
#fluid-ns-outer #fluid-ns-inner .fluid-field-date-picker .fluid-calendar td {
    background-color:#FFF;
    cursor:pointer;
}
#fluid-ns-outer #fluid-ns-inner .fluid-field-date-picker .fluid-calendar td.fluid-over { background-color:#CFDBFA; }
#fluid-ns-outer #fluid-ns-inner .fluid-field-date-picker .fluid-calendar td.fluid-down {
    /* CSS3 */
    -moz-box-shadow:inset 0 1px 1px rgba(0, 0, 0, 0.125);
    -webkit-box-shadow:inset 0 1px 1px rgba(0, 0, 0, 0.125);
    box-shadow:inset 0 1px 1px rgba(0, 0, 0, 0.125);
}
#fluid-ns-outer #fluid-ns-inner .fluid-field-date-picker .fluid-calendar td.fluid-empty {
    cursor:default;
}
#fluid-ns-outer #fluid-ns-inner .fluid-field-date-picker .fluid-calendar td.fluid-today {
    text-decoration:underline;
}
#fluid-ns-outer #fluid-ns-inner .fluid-field-date-picker .fluid-calendar td.fluid-selected {
    background-color:#FF9E1C;
    color:#FFF;
    cursor:default;
    
    /* CSS3 */
    -moz-box-shadow:inset 0 1px 1px rgba(0, 0, 0, 0.125);
    -webkit-box-shadow:inset 0 1px 1px rgba(0, 0, 0, 0.125);
    box-shadow:inset 0 1px 1px rgba(0, 0, 0, 0.125);
}
#fluid-ns-outer #fluid-ns-inner .fluid-field-date-picker .fluid-calendar td.fluid-past {
    color:#B0B0B0;
	font-style:italic;
}
#fluid-ns-outer #fluid-ns-inner .fluid-field-date-picker .fluid-calendar td.fluid-past.fluid-selected {
	color:#fff;
}

/* FireFox hacks */
@-moz-document url-prefix() {

    /* Section: Form */
    #fluid-ns-outer #fluid-ns-inner .fluid-form fieldset {
        margin-top:0;
    }
    
    /* Section: Buttons */
    #fluid-ns-outer #fluid-ns-inner .fluid-button {
        padding:3px 10px;
    }
    #fluid-ns-outer #fluid-ns-inner .fluid-button.fluid-down, 
    #fluid-ns-outer #fluid-ns-inner .fluid-field-date-picker .fluid-application-bar .fluid-button.fluid-down { 
        padding-top:3px;
        padding-bottom:2px;
    }        
    #fluid-ns-outer #fluid-ns-inner .fluid-button.fluid-center.fluid-down {
        margin-bottom:0;
    }

    /* Section: Tabbers */
    #fluid-ns-outer #fluid-ns-inner .fluid-tabber .fluid-tabs > .fluid-tabber-tab {
        padding-top:2px;
        padding-bottom:3px;
    }
    #fluid-ns-outer #fluid-ns-inner .fluid-tabber .fluid-tabs > .fluid-tabber-tab.fluid-selected {
        padding-top:4px;
        padding-bottom:3px;
    }    
}