/* Placeholders */
#fluid-ns-outer #fluid-ns-inner input::placeholder,
#fluid-ns-outer #fluid-ns-inner input::-webkit-input-placeholder,
#fluid-ns-outer #fluid-ns-inner textarea::-webkit-input-placeholder {
    color:#8C8C8C;
    font-style:italic;
}
#fluid-ns-outer #fluid-ns-inner textarea::placeholder,
#fluid-ns-outer #fluid-ns-inner textarea::-webkit-input-placeholder,
#fluid-ns-outer #fluid-ns-inner textarea:-moz-placeholder {
    color:#8C8C8C;
    font-style:italic;
}

/* Section: Forms */
#fluid-ns-outer #fluid-ns-inner .fluid-form {
    margin:0;
    padding:0;
}
#fluid-ns-outer #fluid-ns-inner .fluid-form > .fluid-clear {
    height:1px;
}

/* Section: Forms > Fieldset */
#fluid-ns-outer #fluid-ns-inner .fluid-form fieldset {
    border:1px solid #EEE;
    margin:1px 0 10px 0;
    padding:10px 10px 0;
}
#fluid-ns-outer #fluid-ns-inner .fluid-form fieldset.fluid-last {
    margin-bottom:10px !important;
}
#fluid-ns-outer #fluid-ns-inner .fluid-form legend {
    font-weight:bold;
    padding:0 5px;
}

/* Section: Forms > Fields (defaults) */
#fluid-ns-outer #fluid-ns-inner .fluid-form .fluid-field, .fluid-form .fluid-text {
    clear:both;
    margin-bottom:10px;
    position:relative;
}
#fluid-ns-outer #fluid-ns-inner .fluid-form .fluid-field.fluid-last {
	clear:right !important;
    margin-right:0 !important;
}
#fluid-ns-outer #fluid-ns-inner .fluid-form .fluid-field.fluid-sep {
    margin-right:20px;
}
#fluid-ns-outer #fluid-ns-inner .fluid-form .fluid-field > label {
    display:block;
    margin-bottom:5px;
    position:relative;
    width:553px;
}
#fluid-ns-outer #fluid-ns-inner .fluid-form .fluid-field.fluid-no-label > label {
    display:none;
}
#fluid-ns-outer #fluid-ns-inner .fluid-form .fluid-help {
	background:#fdf9ed;
	margin-top:5px;
	padding:5px;
	-moz-border-radius:3px;
    -webkit-border-radius:3px;
    border-radius:3px;
}

#fluid-ns-outer #fluid-ns-inner .fluid-form .fluid-help:first-child {
    margin-top: 0;
}

#fluid-ns-outer #fluid-ns-inner .fluid-form input[type='email'],
#fluid-ns-outer #fluid-ns-inner .fluid-form input[type='number'],
#fluid-ns-outer #fluid-ns-inner .fluid-form input[type='password'],
#fluid-ns-outer #fluid-ns-inner .fluid-form input[type='text'],
#fluid-ns-outer #fluid-ns-inner .fluid-form select,
#fluid-ns-outer #fluid-ns-inner .fluid-form textarea {
    background:url('/media/edit/themes/sw-theme/ui.png') 0 -564px repeat-x;
    border-bottom:1px solid #D7D7D7;
    border-left:1px solid #CCC;
    border-right:1px solid #CCC;
    border-top:1px solid #C4C4C4;
    font-family:'tahoma', san-serif;
    font-size:12px;
    line-height: 100%;
    padding:2px 4px;
    width:543px;
}
#fluid-ns-outer #fluid-ns-inner .fluid-form select {
    padding:0;
    width:553px;
}
#fluid-ns-outer #fluid-ns-inner .fluid-form input[type='number'] {
    width:60px;
}
#fluid-ns-outer #fluid-ns-inner .fluid-form input[type='submit'] {
    position:absolute;
    top:-10000px;
    left:-10000px;
}
#fluid-ns-outer #fluid-ns-inner .fluid-form select { padding:1px 0; }
#fluid-ns-outer #fluid-ns-inner .fluid-form textarea { 
    min-height:100px;
    max-width:543px;
}
#fluid-ns-outer #fluid-ns-inner .fluid-form .fluid-field.fluid-field-display-only > .fluid-puesdo-input {
	background:#f8f8f8 url('/media/edit/themes/sw-theme/ui.png') 0 -564px repeat-x;
	border-bottom:1px solid #D7D7D7;
    border-left:1px solid #CCC;
    border-right:1px solid #CCC;
    border-top:1px solid #C4C4C4;
	font-size:12px;
	line-height:22px;
	max-height: 200px;
	overflow: auto;
	padding:0 5px;
    width:543px;
}
#fluid-ns-outer #fluid-ns-inner .fluid-form .fluid-field.fluid-field-display-only .fluid-empty {
	color:#D7D7D7;
	font-style: italic;
}

#fluid-ns-outer #fluid-ns-inner .fluid-form .fluid-field.fluid-field-display-only.fluid-info > .fluid-puesdo-input {
    font-family: courier, monospace;
    white-space: pre-wrap; 
}

/* Section: Forms > Fields > Optional */
#fluid-ns-outer #fluid-ns-inner .fluid-form .fluid-field .fluid-optional {
    color:#B0B0B0;
	font-style:italic;
	float:right;
}

/* Section: Forms > Fields > Status */
#fluid-ns-outer #fluid-ns-inner .fluid-field .fluid-status {
    background:url('/media/edit/themes/sw-theme/ui.png') 0 -64px no-repeat; /* Initial state */
    left:563px;
    height:20px;
    position:absolute;
    top:19px;
    width:20px;
}
#fluid-ns-outer #fluid-ns-inner .fluid-field.fluid-state-checking .fluid-status { background-position:-20px -64px; }
#fluid-ns-outer #fluid-ns-inner .fluid-field.fluid-state-valid .fluid-status { background-position:-40px -64px; }
#fluid-ns-outer #fluid-ns-inner .fluid-field.fluid-state-invalid .fluid-status { background-position:-60px -64px; }
#fluid-ns-outer #fluid-ns-inner .fluid-field.fluid-state-pending .fluid-status { background-position:0 -84px; }

/* Section: Forms > Fields > Boolean */
#fluid-ns-outer #fluid-ns-inner .fluid-form .fluid-field-boolean > label {
    float:left;
    line-height:18px;
    margin-right:20px;
    width:auto;
}

/* Section: Forms > Fields > Date */
#fluid-ns-outer #fluid-ns-inner .fluid-form .fluid-field.fluid-field-date > label {
    width:254px !important;
}
#fluid-ns-outer #fluid-ns-inner .fluid-form .fluid-field.fluid-field-date input[type='text'] { width:80px !important; }
#fluid-ns-outer #fluid-ns-inner .fluid-form .fluid-field.fluid-field-date .fluid-optional { 
    display:inline;
    float:none;
    margin-left:5px;
    position:static;
}
#fluid-ns-outer #fluid-ns-inner .fluid-form .fluid-field.fluid-field-date .fluid-status { left:264px; } 

/* Section: Forms > Fields > Time */
#fluid-ns-outer #fluid-ns-inner .fluid-form .fluid-field.fluid-field-time input[type='text'] { width:35px; }
#fluid-ns-outer #fluid-ns-inner .fluid-form .fluid-field.fluid-field-time .fluid-optional { 
    display:inline;
    float:none;
    margin-left:5px;
    position:static;
}
#fluid-ns-outer #fluid-ns-inner .fluid-form .fluid-field.fluid-field-time .fluid-status { left:264px; } 

/* Section: Forms > Fields > Number */
#fluid-ns-outer #fluid-ns-inner .fluid-form .fluid-field.fluid-field-number input[type='number'] { width:60px; }
#fluid-ns-outer #fluid-ns-inner .fluid-form .fluid-field.fluid-field-number .fluid-optional { 
    display:inline;
    float:none;
    margin-left:5px;
    position:static;
}
#fluid-ns-outer #fluid-ns-inner .fluid-form .fluid-field.fluid-field-number .fluid-status { left:264px; } 

/* Section: Forms > Fields > Money */
#fluid-ns-outer #fluid-ns-inner .fluid-form .fluid-field.fluid-field-money input[type='text'] { 
    text-align:right !important;
    width:60px;
}
#fluid-ns-outer #fluid-ns-inner .fluid-form .fluid-field.fluid-field-money .fluid-optional { 
    display:inline;
    float:none;
    margin-left:5px;
    position:static;
}
#fluid-ns-outer #fluid-ns-inner .fluid-form .fluid-field.fluid-field-money .fluid-status { left:264px; } 

/* Section: Forms > Fields > Choices */
#fluid-ns-outer #fluid-ns-inner .fluid-form .fluid-field.fluid-field-choice {
    overflow:hidden;
    min-height:40px;
}
#fluid-ns-outer #fluid-ns-inner .fluid-form .fluid-field.fluid-field-choice > label {
    border-bottom:1px solid #EEE;
    padding-bottom:5px;
    margin-bottom:7px;
}
#fluid-ns-outer #fluid-ns-inner .fluid-form .fluid-field.fluid-field-choice .fluid-status {
    top:25px;
}
#fluid-ns-outer #fluid-ns-inner .fluid-form .fluid-field.fluid-field-choice .fluid-ticks { 
    background-color:#E7EDFC;
    width:553px;
    overflow:auto;
}
#fluid-ns-outer #fluid-ns-inner .fluid-form .fluid-field.fluid-field-choice .fluid-tick { 
    border-bottom:1px dotted #FFF;
    float:left;
    padding:5px 10px;
} 
#fluid-ns-outer #fluid-ns-inner .fluid-form .fluid-field.fluid-field-choice .fluid-tick > label { 
    display:inline-block;
    font-size:11px;
    line-height:18px;
    margin-left:5px;
    vertical-align:top;
    width:138px;
}

/* Section: Forms > Fields > Attachments (Single) */
#fluid-ns-outer #fluid-ns-inner .fluid-form .fluid-field.fluid-field-single-attachment .fluid-attachment-area {
    border-right:1px solid #EEE;
    float:left;
    font-size:11px;
    height:77px;
    margin:0 10px 10px 0;
    position:relative;
    width:324px;
}
#fluid-ns-outer #fluid-ns-inner .fluid-form .fluid-field.fluid-field-single-attachment .fluid-attachment-area .fluid-preview {
    background:#FFF url('/media/edit/themes/sw-theme/ui.png') 0 -282px no-repeat;
    border:1px solid #C7C7C7;
    height:75px;
    left:0;
    position:absolute; 
    top:0;
    width:75px;
}
#fluid-ns-outer #fluid-ns-inner .fluid-form .fluid-field.fluid-field-single-attachment .fluid-attachment-area .fluid-progress-bar,
#fluid-ns-outer #fluid-ns-inner .fluid-field.fluid-field-multiple-attachment-handler .fluid-progress-bar {
	border:1px solid #FFF;
	background-color:#FFF;
	display:none;
	height:10px;
	left:5px;
	position:absolute;
	top:33px;
	width:65px;
	z-index:9;
}
#fluid-ns-outer #fluid-ns-inner .fluid-field.fluid-field-multiple-attachment-handler .fluid-progress-bar { 
	left:11px;
	top:30px;
	width:48px;
}
#fluid-ns-outer #fluid-ns-inner .fluid-form .fluid-field.fluid-field-single-attachment .fluid-attachment-area .fluid-progress-bar > .fluid-progress,
#fluid-ns-outer #fluid-ns-inner .fluid-field.fluid-field-multiple-attachment-handler .fluid-progress-bar > .fluid-progress {
	background-color:#76BB5F;
	height:10px;
	width:0%;
}

#fluid-ns-outer #fluid-ns-inner .fluid-form .fluid-field.fluid-field-single-attachment.fluid-no-thumb .fluid-attachment-area .fluid-preview:before {
    background:transparent url('/media/edit/themes/sw-theme/mimetype-icons.png') 0 0 no-repeat;
    content: '';
    display: block;
    height: 33px;
    left: 25px;
    position: absolute;
    top: 21px;
    width: 25px;
}

#fluid-ns-outer #fluid-ns-inner .fluid-form .fluid-field.fluid-field-single-attachment .fluid-attachment-area .fluid-thumbnail,
#fluid-ns-outer #fluid-ns-inner .fluid-field-multiple-attachment-handler .fluid-thumbnail {
	background-position:center center;
	background-repeat:no-repeat;
	height:150px;
	left:1px;
	position:absolute;
	top:1px;
	width:150px;
	z-index:10;
	
	/* CSS3 */
	-ms-transform-origin:top left;
	-webkit-transform-origin:top left;
	-moz-transform-origin:top left;
	transform-origin:top left;
	-ms-transform:scale(0.5);
	-webkit-transform:scale(0.5);
	-moz-transform:scale(0.5, 0.5);
	transform:scale(0.5);
}
#fluid-ns-outer #fluid-ns-inner .fluid-field-multiple-attachment-handler .fluid-thumbnail {
	left:6px;
	top:6px;
		
	/* CSS3 */
	-ms-transform:scale(0.4);
	-webkit-transform:scale(0.4);
	-moz-transform:scale(0.4);
	transform:scale(0.4);
}
#fluid-ns-outer #fluid-ns-inner .fluid-form .fluid-field.fluid-field-single-attachment .fluid-attachment-area .fluid-info {
    left:87px;
    padding-right:10px;
    position:absolute;
    top:5px;
}
#fluid-ns-outer #fluid-ns-inner .fluid-form .fluid-field.fluid-field-single-attachment .fluid-attachment-area .fluid-name {
    display:block;
    height:14px;
    overflow:hidden;
    position:absolute;
    width:227px;
}
#fluid-ns-outer #fluid-ns-inner .fluid-form .fluid-field.fluid-field-single-attachment .fluid-attachment-area .fluid-name:hover {
    height:auto;
    z-index:9;
}
#fluid-ns-outer #fluid-ns-inner .fluid-form .fluid-field.fluid-field-single-attachment .fluid-attachment-area .fluid-name:hover {
    background-color:#E7EDFC;
}
#fluid-ns-outer #fluid-ns-inner .fluid-form .fluid-field.fluid-field-single-attachment .fluid-attachment-area .fluid-name.fluid-empty {
    color:#B0B0B0;
    font-style:italic;
}
#fluid-ns-outer #fluid-ns-inner .fluid-form .fluid-field.fluid-field-single-attachment .fluid-attachment-area .fluid-file-info {
    display:block;
    font-size:10px;
    position:absolute;
    top:12px;
    width:107px;
}
#fluid-ns-outer #fluid-ns-inner .fluid-form .fluid-field.fluid-field-single-attachment .fluid-attachment-area .fluid-tools {
    left:87px;
    position:absolute;
    top:48px;
}
#fluid-ns-outer #fluid-ns-inner .fluid-form .fluid-field.fluid-field-single-attachment .fluid-attachment-note {
    float:left;
    margin-right:0;
    width:250px;
}
#fluid-ns-outer #fluid-ns-inner .fluid-form  .fluid-field.fluid-field-single-attachment .fluid-attachment-note > .fluid-help {
	background:transparent;
    -moz-border-radius:0;
    -webkit-border-radius:0;
	border-radius:0;
	padding:0;
    width:220px;
}
#fluid-ns-outer #fluid-ns-inner .fluid-form .fluid-field.fluid-field-single-attachment .fluid-attachment-note label {
	background:transparent;
    -moz-border-radius:0;
    -webkit-border-radius:0;
	border-radius:0;
	padding:0;
    width:217px;
}
#fluid-ns-outer #fluid-ns-inner .fluid-form .fluid-field.fluid-field-single-attachment .fluid-attachment-note .fluid-status {
    top:0;
}

/* Section: Forms > Fields > Attachments (Multiple) */
#fluid-ns-outer #fluid-ns-inner .fluid-form.fluid-form-attachments fieldset {
    border:0;
    padding:0;
}
#fluid-ns-outer #fluid-ns-inner .fluid-field.fluid-field-multiple-attachment .fluid-attachment-note {
    border-bottom:1px solid #EEE;
    position:relative;
}
#fluid-ns-outer #fluid-ns-inner .fluid-field.fluid-field-multiple-attachment .fluid-attachment-note > .fluid-help {
	background:transparent;
    -moz-border-radius:0;
    -webkit-border-radius:0;
	border-radius:0;
	padding:0;
    width:573px;
}
#fluid-ns-outer #fluid-ns-inner .fluid-field.fluid-field-multiple-attachment .fluid-attachment-note > .fluid-tools {
	padding:16px 0 10px;
}
#fluid-ns-outer #fluid-ns-inner .fluid-field.fluid-field-multiple-attachment .fluid-attachment-note .fluid-status {
    left:583px;
    top:0;
}
#fluid-ns-outer #fluid-ns-inner .fluid-field.fluid-field-multiple-attachment .fluid-attachment-area {
    padding-top:10px;
    overflow: auto;
}
#fluid-ns-outer #fluid-ns-inner .fluid-field.fluid-field-multiple-attachment .fluid-field-multiple-attachment-handler {
    background:#FFF;
    border:1px dotted #EEE;
    float:left;
    height:62px;
	margin:0 10px 10px 0;
    padding:5px;
    position:relative;
    width:175px;
}
#fluid-ns-outer #fluid-ns-inner .fluid-field.fluid-field-multiple-attachment .fluid-field-multiple-attachment-handler.fluid-loading {
    background:#E7EDFC;
    border:1px dotted #FFF;
}
#fluid-ns-outer #fluid-ns-inner .fluid-field.fluid-field-multiple-attachment .fluid-field-multiple-attachment-handler:hover {
    border:1px solid #B0B0B0;
}
#fluid-ns-outer #fluid-ns-inner .fluid-field.fluid-field-multiple-attachment .fluid-attachment-area .fluid-preview {
    background:#FFF url('/media/edit/themes/sw-theme/ui.png') 0 -282px no-repeat;
    border:1px solid #C7C7C7;
    cursor:move;
    height:60px;
    left:5px;
    position:absolute; 
    top:5px;
    width:60px;
}

#fluid-ns-outer #fluid-ns-inner .fluid-field.fluid-field-multiple-attachment .fluid-attachment-area .fluid-preview:before {
    background:transparent url('/media/edit/themes/sw-theme/mimetype-icons.png') 0 0 no-repeat;
    content: '';
    display: block;
    height: 33px;
    left: 17px;
    position: absolute;
    top: 14px;
    width: 25px;
}

#fluid-ns-outer #fluid-ns-inner.fluid-field.fluid-field-multiple-attachment .fluid-attachment-area .fluid-name.fluid-empty {
    color:#B0B0B0;
    font-style:italic;
}
#fluid-ns-outer #fluid-ns-inner .fluid-field.fluid-field-multiple-attachment .fluid-attachment-area .fluid-info {
    font-size:11px;
    left:73px;
    position:absolute;
    top:10px;
}
#fluid-ns-outer #fluid-ns-inner .fluid-field.fluid-field-multiple-attachment .fluid-attachment-area .fluid-name {
    display:block;
    height:14px;
    overflow:hidden;
    position:absolute;
    width:107px;
}
#fluid-ns-outer #fluid-ns-inner .fluid-field.fluid-field-multiple-attachment .fluid-attachment-area .fluid-name:hover {
    background-color:#E7EDFC;
    height:auto;
    z-index:9;
}
#fluid-ns-outer #fluid-ns-inner .fluid-field.fluid-field-multiple-attachment .fluid-attachment-area .fluid-name.fluid-empty {
    color:#B0B0B0;
    font-style:italic;
}
#fluid-ns-outer #fluid-ns-inner .fluid-field.fluid-field-multiple-attachment .fluid-attachment-area .fluid-file-info {
    display:block;
    font-size:10px;
    position:absolute;
    top:12px;
    width:107px;
}
#fluid-ns-outer #fluid-ns-inner .fluid-field.fluid-field-multiple-attachment .fluid-attachment-area .fluid-tools {
    left:73px;
    position:absolute;
    top:43px;
}
#fluid-ns-outer #fluid-ns-inner .fluid-field.fluid-field-multiple-attachment .fluid-attachment-area .fluid-tools .fluid-sep {
    margin-right:5px;
}

/* Section: File uploader */
#fluid-ns-outer #fluid-ns-inner .fluid-upload-drop-area > span, 
#fluid-ns-outer #fluid-ns-inner .fluid-upload-list, 
#fluid-ns-outer #fluid-ns-inner .fluid-upload-file, 
#fluid-ns-outer #fluid-ns-inner .fluid-upload-failed-text { display:none; }
#fluid-ns-outer #fluid-ns-inner .fluid-field.fluid-field-single-attachment .fluid-upload-drop-area {
	background:rgba(135, 163, 255, 0.25) url('/media/edit/themes/sw-theme/upload.png') center center no-repeat;
	height:75px;
    left:0;
	position:absolute; 
	top:0; 
	width:75px;
	z-index:10;
}
#fluid-ns-outer #fluid-ns-inner .fluid-field.fluid-field-multiple-attachment .fluid-upload-drop-area {
	background:rgba(135, 163, 255, 0.25) url('/media/edit/themes/sw-theme/upload.png') center center no-repeat;
    -moz-border-radius:4px;
    -webkit-border-radius:4px;
    border-radius:4px;
	height:75px;
	margin-bottom:10px;
	position:static;
	width:603px;
}
#fluid-ns-outer #fluid-ns-inner .fluid-field.fluid-field-single-attachment .fluid-upload-drop-area-active,
#fluid-ns-outer #fluid-ns-inner .fluid-field.fluid-field-multiple-attachment .fluid-upload-drop-area-active { 
	background-color:rgba(135, 163, 255, 0.5); 
}
#fluid-ns-outer #fluid-ns-inner .fluid-field.fluid-field-single-attachment .fluid-upload-button,
#fluid-ns-outer #fluid-ns-inner .fluid-field.fluid-field-multiple-attachment .fluid-upload-button {
    background:#CCCED3 url('/media/edit/themes/sw-theme/ui.png') 0 -220px repeat-x;
    border-bottom:1px solid #8F9295;
    border-left:1px solid #C3C5C8;
    border-right:1px solid #C3C5C8;
    border-top:1px solid #DFE2E5;
    cursor:pointer;
    float:left;
    font-size:11px;
    height:16px;
    left:85px;
	letter-spacing:0.1em;
    padding:4px 10px 2px;
	position:absolute;
    margin-top:0;
    margin-bottom:1px;
    min-width:75px;
    position:relative;
    text-align:center;
    top:50px;

    /* CSS3 */
    -moz-border-radius:4px;
    -webkit-border-radius:4px;
    border-radius:4px;
    -moz-box-shadow:0px 1px 2px rgba(0, 0, 0, 0.25);
    -webkit-box-shadow:0px 1px 2px rgba(0, 0, 0, 0.25);
    box-shadow:0px 1px 2px rgba(0, 0, 0, 0.25);
    
    /* Prevent text selection off labels within buttons */
    -webkit-user-select:none;
    -khtml-user-select:none;
    -moz-user-select:none;
    user-select:none;
}
#fluid-ns-outer #fluid-ns-inner .fluid-field.fluid-field-single-attachment .fluid-upload-button.fluid-over,
#fluid-ns-outer #fluid-ns-inner .fluid-field.fluid-field-multiple-attachment .fluid-upload-button.fluid-over { color:#161616; }
#fluid-ns-outer #fluid-ns-inner .fluid-field.fluid-field-single-attachment .fluid-upload-button.fluid-down,
#fluid-ns-outer #fluid-ns-inner .fluid-field.fluid-field-multiple-attachment .fluid-upload-button.fluid-down {
    margin-top:1px;
    margin-bottom:0;
    -moz-box-shadow:0px -1px 2px rgba(0, 0, 0, 0.125);
    -webkit-box-shadow:0px -1px 2px rgba(0, 0, 0, 0.125);
    box-shadow:0px -1px 2px rgba(0, 0, 0, 0.125);
}
#fluid-ns-outer #fluid-ns-inner .fluid-field.fluid-field-multiple-attachment .fluid-upload-button {
	display:inline-block;
	float:none;
	left:0;
	position:relative;
	top:0;
}

/* Section: Forms > Fields > Auto-complete */
.fluid-ac-results {
    background:#FFF;
    border-bottom:1px solid #D7D7D7;
    border-left:1px solid #CCC;
    border-right:1px solid #CCC;
    color:#414143;
    font-family:'tahoma', san-serif;
    font-size:12px;
    font-weight:normal;
    overflow:hidden;
    margin:0;
	padding:0;
    z-index:9000002;
}
.fluid-ac-results ul {
    width:100%;
    list-style-position:outside;
    list-style:none;
    margin:0;
	padding:0;
}
.fluid-ac-results li {
    margin:0px;
    padding:5px;
    cursor:default;
    display:block;
    overflow:hidden;
}
.fluid-ac-even { background-color:#E7EDFC; }
.fluid-ac-over { background-color:#CFDBFA; }

/* Section: Forms > Fields > Auto-complete multiple */
#fluid-ns-outer #fluid-ns-inner ul.as-selections {
	list-style-type:none;
	margin:0;
	padding:0;
	width:551px;
}
#fluid-ns-outer #fluid-ns-inner ul.as-selections li {
    margin:0;
    padding:0;
}
#fluid-ns-outer #fluid-ns-inner ul.as-selections li.as-selection-item {
	background:#CFDBFA;
    display:block;
    float:left;
	font-size:12px;
    line-height:22px;
    margin:0 5px 5px 0;
    padding:0 5px;

    /* CSS3 */
    -moz-border-radius:5px;
    -webkit-border-radius:5px;
    border-radius:5px;
}
#fluid-ns-outer #fluid-ns-inner ul.as-selections li.as-selection-item a.as-close {
    cursor:pointer;
    float:right;
    font-weight:bold;
    margin-left:5px;
}
#fluid-ns-outer #fluid-ns-inner ul.as-list {
	background-color:#FFF;
    border-bottom:1px solid #D7D7D7;
    border-left:1px solid #CCC;
    border-right:1px solid #CCC;
	border-top:none;
	font-size:12px;
	list-style-type: none;
	margin:0;
	padding:0;
	position:absolute;
    max-width:648px;
	z-index:9;
}
#fluid-ns-outer #fluid-ns-inner li.as-result-item, li.as-message {
	padding:10px 10px;
	cursor:pointer;
}
#fluid-ns-outer #fluid-ns-inner li.as-result-item:nth-child(even) {
	background-color:#E7EDFC;
}
#fluid-ns-outer #fluid-ns-inner li.as-result-item.active {
	background-color:#CFDBFA;
}

/* Section: Forms > Fields > Sizes */
#fluid-ns-outer #fluid-ns-inner .fluid-form .fluid-field.fluid-field-half.fluid-field-display-only > .fluid-puesdo-input,
#fluid-ns-outer #fluid-ns-inner .fluid-form .fluid-field.fluid-field-half input[type='email'],
#fluid-ns-outer #fluid-ns-inner .fluid-form .fluid-field.fluid-field-half input[type='number'],
#fluid-ns-outer #fluid-ns-inner .fluid-form .fluid-field.fluid-field-half input[type='password'],
#fluid-ns-outer #fluid-ns-inner .fluid-form .fluid-field.fluid-field-half input[type='text'] { width:244px !important; }
#fluid-ns-outer #fluid-ns-inner .fluid-form .fluid-field.fluid-field-half label { width:254px !important; }

#fluid-ns-outer #fluid-ns-inner .fluid-form .fluid-field.fluid-field-quarter input[type='email'],
#fluid-ns-outer #fluid-ns-inner .fluid-form .fluid-field.fluid-field-quarter input[type='number'],
#fluid-ns-outer #fluid-ns-inner .fluid-form .fluid-field.fluid-field-quarter input[type='password'], 
#fluid-ns-outer #fluid-ns-inner .fluid-form .fluid-field.fluid-field-quarter input[type='text'] { width:122px !important; }
#fluid-ns-outer #fluid-ns-inner .fluid-form .fluid-field.fluid-field-quarter label { width:254px !important; }

#fluid-ns-outer #fluid-ns-inner .fluid-form .fluid-field.fluid-field-eighth input[type='email'],
#fluid-ns-outer #fluid-ns-inner .fluid-form .fluid-field.fluid-field-eighth input[type='number'],
#fluid-ns-outer #fluid-ns-inner .fluid-form .fluid-field.fluid-field-eighth input[type='password'], 
#fluid-ns-outer #fluid-ns-inner .fluid-form .fluid-field.fluid-field-eighth input[type='text'] { width:60px !important; }
#fluid-ns-outer #fluid-ns-inner .fluid-form .fluid-field.fluid-field-eighth label { width:254px !important; }

#fluid-ns-outer #fluid-ns-inner .fluid-form .fluid-field.fluid-field-sixteenth input[type='email'],
#fluid-ns-outer #fluid-ns-inner .fluid-form .fluid-field.fluid-field-sixteenth input[type='number'],
#fluid-ns-outer #fluid-ns-inner .fluid-form .fluid-field.fluid-field-sixteenth input[type='password'], 
#fluid-ns-outer #fluid-ns-inner .fluid-form .fluid-field.fluid-field-sixteenth input[type='text'] { width:30px !important; }
#fluid-ns-outer #fluid-ns-inner .fluid-form .fluid-field.fluid-field-sixteenth label { width:254px !important; }

#fluid-ns-outer #fluid-ns-inner .fluid-form .fluid-field.fluid-field-quarter .fluid-optional,
#fluid-ns-outer #fluid-ns-inner .fluid-form .fluid-field.fluid-field-date .fluid-optional,
#fluid-ns-outer #fluid-ns-inner .fluid-form .fluid-field.fluid-field-eighth .fluid-optional,
#fluid-ns-outer #fluid-ns-inner .fluid-form .fluid-field.fluid-field-sixteenth .fluid-optional {
    display:inline;
    float:none;
    margin-left:5px;
    position:static;
}
#fluid-ns-outer #fluid-ns-inner .fluid-form .fluid-field.fluid-field-half .fluid-status,
#fluid-ns-outer #fluid-ns-inner .fluid-form .fluid-field.fluid-field-quarter .fluid-status,
#fluid-ns-outer #fluid-ns-inner .fluid-form .fluid-field.fluid-field-date .fluid-status,
#fluid-ns-outer #fluid-ns-inner .fluid-form .fluid-field.fluid-field-eighth .fluid-status,
#fluid-ns-outer #fluid-ns-inner .fluid-form .fluid-field.fluid-field-sixteenth .fluid-status { left:264px; }

/* Note: Heights should only be applied to textareas. */
#fluid-ns-outer #fluid-ns-inner .fluid-form .fluid-field.fluid-field-short textarea { height:50px; min-height:50px; }
#fluid-ns-outer #fluid-ns-inner .fluid-form .fluid-field.fluid-field-tall textarea { height:200px; }
#fluid-ns-outer #fluid-ns-inner .fluid-form .fluid-field.fluid-field-taller textarea { height:400px; }

/* Section: Forms > Fields > Split */
#fluid-ns-outer #fluid-ns-inner .fluid-form .fluid-field.fluid-split {
    float:left;
    margin-right:15px;
    width:284px;
}
#fluid-ns-outer #fluid-ns-inner .fluid-form .fluid-field.fluid-split > label {
    width:254px;
}
#fluid-ns-outer #fluid-ns-inner .fluid-form .fluid-field.fluid-field-boolean.fluid-split > label {
    width:auto;
	display:inline;
}
#fluid-ns-outer #fluid-ns-inner .fluid-form .fluid-field.fluid-split .fluid-puesdo-input,
#fluid-ns-outer #fluid-ns-inner .fluid-form .fluid-field.fluid-split input[type='email'],
#fluid-ns-outer #fluid-ns-inner .fluid-form .fluid-field.fluid-split input[type='number'],
#fluid-ns-outer #fluid-ns-inner .fluid-form .fluid-field.fluid-split input[type='password'],
#fluid-ns-outer #fluid-ns-inner .fluid-form .fluid-field.fluid-split input[type='text'],
#fluid-ns-outer #fluid-ns-inner .fluid-form .fluid-field.fluid-split textarea {
    width:244px;
}
#fluid-ns-outer #fluid-ns-inner .fluid-form .fluid-field.fluid-split select {
    padding:0;
    width:254px;
}
#fluid-ns-outer #fluid-ns-inner .fluid-form .fluid-field.fluid-split textarea {
    height: 118px;
    max-width:244px;
}
#fluid-ns-outer #fluid-ns-inner .fluid-form .fluid-field.fluid-split .fluid-status {
    left:264px;
}

/* Maps */
#fluid-ns-outer #fluid-ns-inner .fluid-form .fluid-map {
    height:300px;
    width:553px;
}

/* Forms in bubble windows */
#fluid-ns-outer #fluid-ns-inner .fluid-bubble-window .fluid-form {
    margin: 0;
    padding: 0;
}

#fluid-ns-outer #fluid-ns-inner .fluid-bubble-window .fluid-group-client {
    margin: 0;
    padding: 0;
}

#fluid-ns-outer #fluid-ns-inner .fluid-bubble-window .fluid-form fieldset {
    border: none;
    margin: 0;
    padding: 0;
}

#fluid-ns-outer #fluid-ns-inner .fluid-bubble-window .fluid-form .fluid-field {
    margin: 0;
    padding: 0;
    width: auto;
}

#fluid-ns-outer #fluid-ns-inner .fluid-bubble-window .fluid-form label {
    display: none;
}

#fluid-ns-outer #fluid-ns-inner .fluid-bubble-window .fluid-form .fluid-status,
#fluid-ns-outer #fluid-ns-inner .fluid-bubble-window .fluid-form .fluid-optional {
    display: none;
}

#fluid-ns-outer #fluid-ns-inner .fluid-bubble-window .fluid-form .fluid-field input[type='email'],
#fluid-ns-outer #fluid-ns-inner .fluid-bubble-window .fluid-form .fluid-field input[type='number'],
#fluid-ns-outer #fluid-ns-inner .fluid-bubble-window .fluid-form .fluid-field input[type='password'], 
#fluid-ns-outer #fluid-ns-inner .fluid-bubble-window .fluid-form .fluid-field input[type='text'] {
    width: 290px;
}

/* Minimum border support */

/* Section: Forms > Fieldset */
#fluid-ns-outer #fluid-ns-inner .fluid-window.fluid-has-minimum-border .fluid-form fieldset {
    border:1px solid #EEE;
    margin:1px 0 5px 0;
    padding:10px 10px 0;
}
#fluid-ns-outer #fluid-ns-inner .fluid-window.fluid-has-minimum-border .fluid-form fieldset.fluid-last {
    margin-bottom:5px !important;
}
#fluid-ns-outer #fluid-ns-inner .fluid-window.fluid-has-minimum-border .fluid-form legend {
    font-weight:bold;
    padding:0 5px;
}

#fluid-ns-outer #fluid-ns-inner .fluid-window.fluid-has-minimum-border .fluid-form .fluid-field.fluid-field-display-only > .fluid-puesdo-input,
#fluid-ns-outer #fluid-ns-inner .fluid-window.fluid-has-minimum-border .fluid-form .fluid-field input[type='email'],
#fluid-ns-outer #fluid-ns-inner .fluid-window.fluid-has-minimum-border .fluid-form .fluid-field input[type='number'],
#fluid-ns-outer #fluid-ns-inner .fluid-window.fluid-has-minimum-border .fluid-form .fluid-field input[type='password'],
#fluid-ns-outer #fluid-ns-inner .fluid-window.fluid-has-minimum-border .fluid-form .fluid-field input[type='text'] { 
    font-size:11px;
    width:120px !important; 
}
#fluid-ns-outer #fluid-ns-inner .fluid-window.fluid-has-minimum-border .fluid-form .fluid-field label { 
    font-size:11px;
    width:120px !important; 
}

#fluid-ns-outer #fluid-ns-inner .fluid-window.fluid-has-minimum-border .fluid-form .fluid-field .fluid-optional,
#fluid-ns-outer #fluid-ns-inner .fluid-window.fluid-has-minimum-border .fluid-field .fluid-status {
    display: none;
}

/* Section: Forms > Fields > Choices */
#fluid-ns-outer #fluid-ns-inner .fluid-window.fluid-has-minimum-border .fluid-form .fluid-field.fluid-field-choice {
    overflow:hidden;
    min-height:0;
}
#fluid-ns-outer #fluid-ns-inner .fluid-window.fluid-has-minimum-border .fluid-form .fluid-field.fluid-field-choice > label {
    border-bottom:none;
    padding-bottom:none;
    margin-bottom:7px;
}
#fluid-ns-outer #fluid-ns-inner .fluid-window.fluid-has-minimum-border .fluid-form .fluid-field.fluid-field-choice .fluid-ticks { 
    width:auto;
    overflow:auto;
}

/* FireFox hacks */
@media screen and (-webkit-min-device-pixel-ratio:0) {
    
    /* Section: Forms > Fields (defaults) */
    #fluid-ns-outer #fluid-ns-inner .fluid-form .fluid-field > label {
        line-height:12px;
    }
}